
	code for sm_89
	.target	sm_89

		Function : probe_int16_dist_scale
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                        /* 0x00000a0000017a02 */
                                                                                 /* 0x000fe40000000f00 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                          /* 0x0000000000007919 */
                                                                                 /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                            /* 0x0000000000037919 */
                                                                                 /* 0x000e240000002100 */
        /*0030*/                   IMAD R0, R0, c[0x0][0x0], R3 ;                /* 0x0000000000007a24 */
                                                                                 /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.AND P0, PT, R0, c[0x0][0x170], PT ;  /* 0x00005c0000007a0c */
                                                                                 /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                        /* 0x000000000000094d */
                                                                                 /* 0x000fea0003800000 */
        /*0060*/                   MOV R3, c[0x0][0x170] ;                       /* 0x00005c0000037a02 */
                                                                                 /* 0x000fe20000000f00 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                  /* 0x0000460000047ab9 */
                                                                                 /* 0x000fe20000000a00 */
        /*0080*/                   MOV R9, 0x2 ;                                 /* 0x0000000200097802 */
                                                                                 /* 0x000fe40000000f00 */
        /*0090*/                   LEA R6, R3, R0, 0x1 ;                         /* 0x0000000003067211 */
                                                                                 /* 0x000fc600078e08ff */
        /*00a0*/                   IMAD.WIDE R2, R0, R9, c[0x0][0x168] ;         /* 0x00005a0000027625 */
                                                                                 /* 0x000fc800078e0209 */
        /*00b0*/                   IMAD.WIDE R6, R6, R9, c[0x0][0x168] ;         /* 0x00005a0006067625 */
                                                                                 /* 0x000fe200078e0209 */
        /*00c0*/                   LDG.E.U16 R10, [R2.64] ;                      /* 0x00000004020a7981 */
                                                                                 /* 0x0000a6000c1e1500 */
        /*00d0*/                   IMAD.WIDE R4, R9.reuse, c[0x0][0x170], R2 ;   /* 0x00005c0009047a25 */
                                                                                 /* 0x040fe200078e0202 */
        /*00e0*/                   LDG.E.U16 R12, [R6.64] ;                      /* 0x00000004060c7981 */
                                                                                 /* 0x0002e6000c1e1500 */
        /*00f0*/                   IMAD.WIDE R20, R9.reuse, c[0x0][0x170], R6 ;  /* 0x00005c0009147a25 */
                                                                                 /* 0x040fe200078e0206 */
        /*0100*/                   LDG.E.U16 R11, [R4.64] ;                      /* 0x00000004040b7981 */
                                                                                 /* 0x000968000c1e1500 */
        /*0110*/                   LDG.E.U16 R13, [R20.64] ;                     /* 0x00000004140d7981 */
                                                                                 /* 0x0000e2000c1e1500 */
        /*0120*/                   IMAD.WIDE R24, R9, c[0x0][0x170], R20 ;       /* 0x00005c0009187a25 */
                                                                                 /* 0x000fca00078e0214 */
        /*0130*/                   LDG.E.U16 R14, [R24.64] ;                     /* 0x00000004180e7981 */
                                                                                 /* 0x0000e2000c1e1500 */
        /*0140*/                   IMAD.WIDE R26, R9, c[0x0][0x170], R24 ;       /* 0x00005c00091a7a25 */
                                                                                 /* 0x000fca00078e0218 */
        /*0150*/                   LDG.E.U16 R15, [R26.64] ;                     /* 0x000000041a0f7981 */
                                                                                 /* 0x0000e2000c1e1500 */
        /*0160*/                   IMAD.WIDE R28, R9, c[0x0][0x170], R26 ;       /* 0x00005c00091c7a25 */
                                                                                 /* 0x000fca00078e021a */
        /*0170*/                   LDG.E.U16 R16, [R28.64] ;                     /* 0x000000041c107981 */
                                                                                 /* 0x000ee2000c1e1500 */
        /*0180*/                   IMAD.WIDE R30, R9, c[0x0][0x170], R28 ;       /* 0x00005c00091e7a25 */
                                                                                 /* 0x000fca00078e021c */
        /*0190*/                   LDG.E.U16 R17, [R30.64] ;                     /* 0x000000041e117981 */
                                                                                 /* 0x000ee2000c1e1500 */
        /*01a0*/                   IMAD.WIDE R32, R9, c[0x0][0x170], R30 ;       /* 0x00005c0009207a25 */
                                                                                 /* 0x000fca00078e021e */
        /*01b0*/                   LDG.E.U16 R18, [R32.64] ;                     /* 0x0000000420127981 */
                                                                                 /* 0x000ee2000c1e1500 */
        /*01c0*/                   IMAD.WIDE R34, R9, c[0x0][0x170], R32 ;       /* 0x00005c0009227a25 */
                                                                                 /* 0x000fca00078e0220 */
        /*01d0*/                   LDG.E.U16 R19, [R34.64] ;                     /* 0x0000000422137981 */
                                                                                 /* 0x000ee2000c1e1500 */
        /*01e0*/                   IMAD.WIDE R36, R9, c[0x0][0x170], R34 ;       /* 0x00005c0009247a25 */
                                                                                 /* 0x000fca00078e0222 */
        /*01f0*/                   LDG.E.U16 R22, [R36.64] ;                     /* 0x0000000424167981 */
                                                                                 /* 0x000ee2000c1e1500 */
        /*0200*/                   IMAD.WIDE R4, R9, c[0x0][0x170], R36 ;        /* 0x00005c0009047a25 */
                                                                                 /* 0x010fca00078e0224 */
        /*0210*/                   LDG.E.U16 R23, [R4.64] ;                      /* 0x0000000404177981 */
                                                                                 /* 0x0008e2000c1e1500 */
        /*0220*/                   IMAD.WIDE R24, R9, c[0x0][0x170], R4 ;        /* 0x00005c0009187a25 */
                                                                                 /* 0x001fcc00078e0204 */
        /*0230*/                   IMAD.WIDE R6, R9.reuse, c[0x0][0x170], R24 ;  /* 0x00005c0009067a25 */
                                                                                 /* 0x042fe400078e0218 */
        /*0240*/                   LDG.E.U16 R24, [R24.64] ;                     /* 0x0000000418187981 */
                                                                                 /* 0x0000e8000c1e1500 */
        /*0250*/                   IMAD.WIDE R20, R9, c[0x0][0x170], R6 ;        /* 0x00005c0009147a25 */
                                                                                 /* 0x000fcc00078e0206 */
        /*0260*/                   IMAD.WIDE R2, R9.reuse, c[0x0][0x170], R20 ;  /* 0x00005c0009027a25 */
                                                                                 /* 0x040fe200078e0214 */
        /*0270*/                   LDG.E.U16 R25, [R6.64] ;                      /* 0x0000000406197981 */
                                                                                 /* 0x0010e8000c1e1500 */
        /*0280*/                   LDG.E.U16 R20, [R20.64] ;                     /* 0x0000000414147981 */
                                                                                 /* 0x000ee2000c1e1500 */
        /*0290*/                   IMAD.WIDE R4, R9, c[0x0][0x170], R2 ;         /* 0x00005c0009047a25 */
                                                                                 /* 0x010fc600078e0202 */
        /*02a0*/                   LDG.E.U16 R2, [R2.64] ;                       /* 0x0000000402027981 */
                                                                                 /* 0x000326000c1e1500 */
        /*02b0*/                   IMAD.WIDE R6, R9.reuse, c[0x0][0x170], R4 ;   /* 0x00005c0009067a25 */
                                                                                 /* 0x041fe200078e0204 */
        /*02c0*/                   LDG.E.U16 R26, [R4.64] ;                      /* 0x00000004041a7981 */
                                                                                 /* 0x000128000c1e1500 */
        /*02d0*/                   LDG.E.U16 R27, [R6.64] ;                      /* 0x00000004061b7981 */
                                                                                 /* 0x000f22000c1e1500 */
        /*02e0*/                   IMAD.WIDE R8, R9, c[0x0][0x170], R6 ;         /* 0x00005c0009087a25 */
                                                                                 /* 0x000fcc00078e0206 */
        /*02f0*/                   LDG.E.U16 R8, [R8.64] ;                       /* 0x0000000408087981 */
                                                                                 /* 0x000f22000c1e1500 */
        /*0300*/                   I2F.S16 R10, R10 ;                            /* 0x0000000a000a7306 */
                                                                                 /* 0x004e700000101400 */
        /*0310*/                   I2F.S16 R11, R11 ;                            /* 0x0000000b000b7306 */
                                                                                 /* 0x020e300000101400 */
        /*0320*/                   I2F.S16 R12, R12 ;                            /* 0x0000000c000c7306 */
                                                                                 /* 0x008ea20000101400 */
        /*0330*/                   FMUL R3, R10, 6.103515625e-05 ;               /* 0x388000000a037820 */
                                                                                 /* 0x002fce0000400000 */
        /*0340*/                   I2F.S16 R13, R13 ;                            /* 0x0000000d000d7306 */
                                                                                 /* 0x000e620000101400 */
        /*0350*/                   FADD R3, RZ, R3 ;                             /* 0x00000003ff037221 */
                                                                                 /* 0x000fe20000000000 */
        /*0360*/                   FMUL R4, R11, 6.103515625e-05 ;               /* 0x388000000b047820 */
                                                                                 /* 0x001fcc0000400000 */
        /*0370*/                   I2F.S16 R14, R14 ;                            /* 0x0000000e000e7306 */
                                                                                 /* 0x000e220000101400 */
        /*0380*/                   FADD R3, R3, R4 ;                             /* 0x0000000403037221 */
                                                                                 /* 0x000fe20000000000 */
        /*0390*/                   FMUL R4, R12, 6.103515625e-05 ;               /* 0x388000000c047820 */
                                                                                 /* 0x004fcc0000400000 */
        /*03a0*/                   I2F.S16 R15, R15 ;                            /* 0x0000000f000f7306 */
                                                                                 /* 0x000ea20000101400 */
        /*03b0*/                   FADD R3, R3, R4 ;                             /* 0x0000000403037221 */
                                                                                 /* 0x000fe20000000000 */
        /*03c0*/                   FMUL R4, R13, 6.103515625e-05 ;               /* 0x388000000d047820 */
                                                                                 /* 0x002fcc0000400000 */
        /*03d0*/                   I2F.S16 R16, R16 ;                            /* 0x0000001000107306 */
                                                                                 /* 0x000e620000101400 */
        /*03e0*/                   FADD R3, R3, R4 ;                             /* 0x0000000403037221 */
                                                                                 /* 0x000fe20000000000 */
        /*03f0*/                   FMUL R14, R14, 6.103515625e-05 ;              /* 0x388000000e0e7820 */
                                                                                 /* 0x001fcc0000400000 */
        /*0400*/                   I2F.S16 R17, R17 ;                            /* 0x0000001100117306 */
                                                                                 /* 0x000e220000101400 */
        /*0410*/                   FADD R3, R3, R14 ;                            /* 0x0000000e03037221 */
                                                                                 /* 0x000fe20000000000 */
        /*0420*/                   FMUL R4, R15, 6.103515625e-05 ;               /* 0x388000000f047820 */
                                                                                 /* 0x004fcc0000400000 */
        /*0430*/                   I2F.S16 R18, R18 ;                            /* 0x0000001200127306 */
                                                                                 /* 0x000ea20000101400 */
        /*0440*/                   FADD R3, R3, R4 ;                             /* 0x0000000403037221 */
                                                                                 /* 0x000fe20000000000 */
        /*0450*/                   FMUL R16, R16, 6.103515625e-05 ;              /* 0x3880000010107820 */
                                                                                 /* 0x002fcc0000400000 */
        /*0460*/                   I2F.S16 R19, R19 ;                            /* 0x0000001300137306 */
                                                                                 /* 0x000e620000101400 */
        /*0470*/                   FADD R3, R3, R16 ;                            /* 0x0000001003037221 */
                                                                                 /* 0x000fe20000000000 */
        /*0480*/                   FMUL R4, R17, 6.103515625e-05 ;               /* 0x3880000011047820 */
                                                                                 /* 0x001fcc0000400000 */
        /*0490*/                   I2F.S16 R22, R22 ;                            /* 0x0000001600167306 */
                                                                                 /* 0x000e220000101400 */
        /*04a0*/                   FADD R3, R3, R4 ;                             /* 0x0000000403037221 */
                                                                                 /* 0x000fe20000000000 */
        /*04b0*/                   FMUL R18, R18, 6.103515625e-05 ;              /* 0x3880000012127820 */
                                                                                 /* 0x004fcc0000400000 */
        /*04c0*/                   I2F.S16 R23, R23 ;                            /* 0x0000001700177306 */
                                                                                 /* 0x000ea20000101400 */
        /*04d0*/                   FADD R3, R3, R18 ;                            /* 0x0000001203037221 */
                                                                                 /* 0x000fe20000000000 */
        /*04e0*/                   FMUL R4, R19, 6.103515625e-05 ;               /* 0x3880000013047820 */
                                                                                 /* 0x002fcc0000400000 */
        /*04f0*/                   I2F.S16 R24, R24 ;                            /* 0x0000001800187306 */
                                                                                 /* 0x000e620000101400 */
        /*0500*/                   FADD R3, R3, R4 ;                             /* 0x0000000403037221 */
                                                                                 /* 0x000fe20000000000 */
        /*0510*/                   FMUL R22, R22, 6.103515625e-05 ;              /* 0x3880000016167820 */
                                                                                 /* 0x001fcc0000400000 */
        /*0520*/                   I2F.S16 R25, R25 ;                            /* 0x0000001900197306 */
                                                                                 /* 0x000e220000101400 */
        /*0530*/                   FADD R3, R3, R22 ;                            /* 0x0000001603037221 */
                                                                                 /* 0x000fe20000000000 */
        /*0540*/                   FMUL R4, R23, 6.103515625e-05 ;               /* 0x3880000017047820 */
                                                                                 /* 0x004fcc0000400000 */
        /*0550*/                   I2F.S16 R20, R20 ;                            /* 0x0000001400147306 */
                                                                                 /* 0x000ea20000101400 */
        /*0560*/                   FADD R3, R3, R4 ;                             /* 0x0000000403037221 */
                                                                                 /* 0x000fe20000000000 */
        /*0570*/                   FMUL R24, R24, 6.103515625e-05 ;              /* 0x3880000018187820 */
                                                                                 /* 0x002fcc0000400000 */
        /*0580*/                   I2F.S16 R2, R2 ;                              /* 0x0000000200027306 */
                                                                                 /* 0x010e620000101400 */
        /*0590*/                   FADD R3, R3, R24 ;                            /* 0x0000001803037221 */
                                                                                 /* 0x000fe20000000000 */
        /*05a0*/                   FMUL R4, R25, 6.103515625e-05 ;               /* 0x3880000019047820 */
                                                                                 /* 0x001fcc0000400000 */
        /*05b0*/                   I2F.S16 R26, R26 ;                            /* 0x0000001a001a7306 */
                                                                                 /* 0x000e220000101400 */
        /*05c0*/                   FADD R3, R3, R4 ;                             /* 0x0000000403037221 */
                                                                                 /* 0x000fe20000000000 */
        /*05d0*/                   FMUL R20, R20, 6.103515625e-05 ;              /* 0x3880000014147820 */
                                                                                 /* 0x004fcc0000400000 */
        /*05e0*/                   I2F.S16 R27, R27 ;                            /* 0x0000001b001b7306 */
                                                                                 /* 0x000ea20000101400 */
        /*05f0*/                   FADD R3, R3, R20 ;                            /* 0x0000001403037221 */
                                                                                 /* 0x000fe20000000000 */
        /*0600*/                   FMUL R2, R2, 6.103515625e-05 ;                /* 0x3880000002027820 */
                                                                                 /* 0x002fcc0000400000 */
        /*0610*/                   I2F.S16 R8, R8 ;                              /* 0x0000000800087306 */
                                                                                 /* 0x000e620000101400 */
        /*0620*/                   FADD R2, R3, R2 ;                             /* 0x0000000203027221 */
                                                                                 /* 0x000fe20000000000 */
        /*0630*/                   FMUL R3, R26, 6.103515625e-05 ;               /* 0x388000001a037820 */
                                                                                 /* 0x001fc80000400000 */
        /*0640*/                   FADD R2, R2, R3 ;                             /* 0x0000000302027221 */
                                                                                 /* 0x000fe20000000000 */
        /*0650*/                   FMUL R5, R27, 6.103515625e-05 ;               /* 0x388000001b057820 */
                                                                                 /* 0x004fe20000400000 */
        /*0660*/                   MOV R3, 0x4 ;                                 /* 0x0000000400037802 */
                                                                                 /* 0x000fc60000000f00 */
        /*0670*/                   FADD R5, R2, R5 ;                             /* 0x0000000502057221 */
                                                                                 /* 0x000fe20000000000 */
        /*0680*/                   FMUL R4, R8, 6.103515625e-05 ;                /* 0x3880000008047820 */
                                                                                 /* 0x002fe20000400000 */
        /*0690*/                   IMAD.WIDE R2, R0, R3, c[0x0][0x160] ;         /* 0x0000580000027625 */
                                                                                 /* 0x000fc600078e0203 */
        /*06a0*/                   FADD R5, R5, R4 ;                             /* 0x0000000405057221 */
                                                                                 /* 0x000fca0000000000 */
        /*06b0*/                   STG.E [R2.64], R5 ;                           /* 0x0000000502007986 */
                                                                                 /* 0x000fe2000c101904 */
        /*06c0*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*06d0*/                   BRA 0x6d0;                                    /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*06e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*06f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0700*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0710*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0720*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0730*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0740*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0750*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0760*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0770*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : probe_int16_vectorized
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;       /* 0x00000a00ff017624 */
                                                                                 /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_TID.X ;                            /* 0x0000000000007919 */
                                                                                 /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                          /* 0x0000000000037919 */
                                                                                 /* 0x000e240000002500 */
        /*0030*/                   IMAD R0, R3, c[0x0][0x0], R0 ;                /* 0x0000000003007a24 */
                                                                                 /* 0x001fca00078e0200 */
        /*0040*/                   ISETP.GE.AND P0, PT, R0, c[0x0][0x178], PT ;  /* 0x00005e0000007a0c */
                                                                                 /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                        /* 0x000000000000094d */
                                                                                 /* 0x000fea0003800000 */
        /*0060*/                   IMAD.MOV.U32 R9, RZ, RZ, 0x4 ;                /* 0x00000004ff097424 */
                                                                                 /* 0x000fe200078e00ff */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                  /* 0x0000460000047ab9 */
                                                                                 /* 0x000fe20000000a00 */
        /*0080*/                   IMAD.MOV.U32 R5, RZ, RZ, 0x8 ;                /* 0x00000008ff057424 */
                                                                                 /* 0x000fe400078e00ff */
        /*0090*/                   IMAD.WIDE R2, R0, R9, c[0x0][0x168] ;         /* 0x00005a0000027625 */
                                                                                 /* 0x000fc800078e0209 */
        /*00a0*/                   IMAD.WIDE R4, R0, R5, c[0x0][0x170] ;         /* 0x00005c0000047625 */
                                                                                 /* 0x000fe400078e0205 */
        /*00b0*/                   LDG.E R2, [R2.64] ;                           /* 0x0000000402027981 */
                                                                                 /* 0x000ea8000c1e1900 */
        /*00c0*/                   LDG.E.64 R4, [R4.64] ;                        /* 0x0000000404047981 */
                                                                                 /* 0x000ee2000c1e1b00 */
        /*00d0*/                   PRMT R6, R2.reuse, 0x9910, RZ ;               /* 0x0000991002067816 */
                                                                                 /* 0x044fe400000000ff */
        /*00e0*/                   PRMT R7, R2, 0xbb32, RZ ;                     /* 0x0000bb3202077816 */
                                                                                 /* 0x000fe400000000ff */
        /*00f0*/                   PRMT R8, R4, 0x9910, RZ ;                     /* 0x0000991004087816 */
                                                                                 /* 0x008fc400000000ff */
        /*0100*/                   PRMT R3, R4, 0xbb32, RZ ;                     /* 0x0000bb3204037816 */
                                                                                 /* 0x000fe400000000ff */
        /*0110*/                   PRMT R2, R5.reuse, 0x9910, RZ ;               /* 0x0000991005027816 */
                                                                                 /* 0x040fe400000000ff */
        /*0120*/                   IADD3 R6, R8, R6, R7 ;                        /* 0x0000000608067210 */
                                                                                 /* 0x000fe40007ffe007 */
        /*0130*/                   PRMT R5, R5, 0xbb32, RZ ;                     /* 0x0000bb3205057816 */
                                                                                 /* 0x000fe400000000ff */
        /*0140*/                   IADD3 R6, R2, R6, R3 ;                        /* 0x0000000602067210 */
                                                                                 /* 0x000fe20007ffe003 */
        /*0150*/                   IMAD.WIDE R2, R0, R9, c[0x0][0x160] ;         /* 0x0000580000027625 */
                                                                                 /* 0x000fc800078e0209 */
        /*0160*/                   IMAD.IADD R5, R6, 0x1, R5 ;                   /* 0x0000000106057824 */
                                                                                 /* 0x000fca00078e0205 */
        /*0170*/                   STG.E [R2.64], R5 ;                           /* 0x0000000502007986 */
                                                                                 /* 0x000fe2000c101904 */
        /*0180*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*0190*/                   BRA 0x190;                                    /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*01a0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : probe_int16_arith
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                        /* 0x00000a0000017a02 */
                                                                                 /* 0x000fe40000000f00 */
        /*0010*/                   S2R R6, SR_TID.X ;                            /* 0x0000000000067919 */
                                                                                 /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                          /* 0x0000000000037919 */
                                                                                 /* 0x000e240000002500 */
        /*0030*/                   IMAD R6, R3, c[0x0][0x0], R6 ;                /* 0x0000000003067a24 */
                                                                                 /* 0x001fca00078e0206 */
        /*0040*/                   ISETP.GE.AND P0, PT, R6, c[0x0][0x178], PT ;  /* 0x00005e0006007a0c */
                                                                                 /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                        /* 0x000000000000094d */
                                                                                 /* 0x000fea0003800000 */
        /*0060*/                   MOV R5, 0x2 ;                                 /* 0x0000000200057802 */
                                                                                 /* 0x000fe20000000f00 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                  /* 0x0000460000047ab9 */
                                                                                 /* 0x000fc80000000a00 */
        /*0080*/                   IMAD.WIDE R2, R6, R5, c[0x0][0x168] ;         /* 0x00005a0006027625 */
                                                                                 /* 0x000fc800078e0205 */
        /*0090*/                   IMAD.WIDE R4, R6, R5, c[0x0][0x170] ;         /* 0x00005c0006047625 */
                                                                                 /* 0x000fe400078e0205 */
        /*00a0*/                   LDG.E.S16 R2, [R2.64] ;                       /* 0x0000000402027981 */
                                                                                 /* 0x000ea8000c1e1700 */
        /*00b0*/                   LDG.E.S16 R5, [R4.64] ;                       /* 0x0000000404057981 */
                                                                                 /* 0x000ea2000c1e1700 */
        /*00c0*/                   MOV R7, 0x4 ;                                 /* 0x0000000400077802 */
                                                                                 /* 0x000fca0000000f00 */
        /*00d0*/                   IMAD.WIDE R6, R6, R7, c[0x0][0x160] ;         /* 0x0000580006067625 */
                                                                                 /* 0x000fe200078e0207 */
        /*00e0*/                   IADD3 R0, R2, R5, RZ ;                        /* 0x0000000502007210 */
                                                                                 /* 0x004fca0007ffe0ff */
        /*00f0*/                   IMAD R9, R2, R5, R0 ;                         /* 0x0000000502097224 */
                                                                                 /* 0x000fca00078e0200 */
        /*0100*/                   STG.E [R6.64], R9 ;                           /* 0x0000000906007986 */
                                                                                 /* 0x000fe2000c101904 */
        /*0110*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*0120*/                   BRA 0x120;                                    /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*0130*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


