
	code for sm_89
	.target	sm_89

		Function : probe_fp256_qd_add
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                                    /* 0x00000a0000017a02 */
                                                                                             /* 0x000fe40000000f00 */
        /*0010*/                   S2R R0, SR_TID.X ;                                        /* 0x0000000000007919 */
                                                                                             /* 0x000e220000002100 */
        /*0020*/                   MOV R29, 0x8 ;                                            /* 0x00000008001d7802 */
                                                                                             /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                              /* 0x0000460000047ab9 */
                                                                                             /* 0x000fe20000000a00 */
        /*0040*/                   SHF.L.U32 R0, R0, 0x2, RZ ;                               /* 0x0000000200007819 */
                                                                                             /* 0x001fca00000006ff */
        /*0050*/                   IMAD.WIDE R2, R0, R29, c[0x0][0x168] ;                    /* 0x00005a0000027625 */
                                                                                             /* 0x000fc800078e021d */
        /*0060*/                   IMAD.WIDE R12, R0, R29, c[0x0][0x170] ;                   /* 0x00005c00000c7625 */
                                                                                             /* 0x000fe200078e021d */
        /*0070*/                   LDG.E.64 R4, [R2.64] ;                                    /* 0x0000000402047981 */
                                                                                             /* 0x000ea8000c1e1b00 */
        /*0080*/                   LDG.E.64 R14, [R12.64] ;                                  /* 0x000000040c0e7981 */
                                                                                             /* 0x000ea8000c1e1b00 */
        /*0090*/                   LDG.E.64 R6, [R2.64+0x8] ;                                /* 0x0000080402067981 */
                                                                                             /* 0x000ee8000c1e1b00 */
        /*00a0*/                   LDG.E.64 R16, [R12.64+0x8] ;                              /* 0x000008040c107981 */
                                                                                             /* 0x000f28000c1e1b00 */
        /*00b0*/                   LDG.E.64 R8, [R2.64+0x10] ;                               /* 0x0000100402087981 */
                                                                                             /* 0x000168000c1e1b00 */
        /*00c0*/                   LDG.E.64 R18, [R12.64+0x10] ;                             /* 0x000010040c127981 */
                                                                                             /* 0x000ee8000c1e1b00 */
        /*00d0*/                   LDG.E.64 R10, [R2.64+0x18] ;                              /* 0x00001804020a7981 */
                                                                                             /* 0x000ee8000c1e1b00 */
        /*00e0*/                   LDG.E.64 R20, [R12.64+0x18] ;                             /* 0x000018040c147981 */
                                                                                             /* 0x000ee2000c1e1b00 */
        /*00f0*/                   DADD R22, R4, R14 ;                                       /* 0x0000000004167229 */
                                                                                             /* 0x004e4c000000000e */
        /*0100*/                   DADD R24, -R4, R22 ;                                      /* 0x0000000004187229 */
                                                                                             /* 0x002e4c0000000116 */
        /*0110*/                   DADD R26, R22, -R24 ;                                     /* 0x00000000161a7229 */
                                                                                             /* 0x002e480000000818 */
        /*0120*/                   DADD R14, R14, -R24 ;                                     /* 0x000000000e0e7229 */
                                                                                             /* 0x000fc80000000818 */
        /*0130*/                   DADD R26, R4, -R26 ;                                      /* 0x00000000041a7229 */
                                                                                             /* 0x002e48000000081a */
        /*0140*/                   DADD R10, R10, R20 ;                                      /* 0x000000000a0a7229 */
                                                                                             /* 0x008fc80000000014 */
        /*0150*/                   DADD R14, R26, R14 ;                                      /* 0x000000001a0e7229 */
                                                                                             /* 0x002e4c000000000e */
        /*0160*/                   DADD R6, R6, R14 ;                                        /* 0x0000000006067229 */
                                                                                             /* 0x002f0c000000000e */
        /*0170*/                   DADD R4, R16, R6 ;                                        /* 0x0000000010047229 */
                                                                                             /* 0x010e4c0000000006 */
        /*0180*/                   DADD R14, -R6, R4 ;                                       /* 0x00000000060e7229 */
                                                                                             /* 0x002e0c0000000104 */
        /*0190*/                   DADD R2, R4, -R14 ;                                       /* 0x0000000004027229 */
                                                                                             /* 0x001e08000000080e */
        /*01a0*/                   DADD R14, R16, -R14 ;                                     /* 0x00000000100e7229 */
                                                                                             /* 0x000fc8000000080e */
        /*01b0*/                   DADD R2, R6, -R2 ;                                        /* 0x0000000006027229 */
                                                                                             /* 0x001e0c0000000802 */
        /*01c0*/                   DADD R2, R2, R14 ;                                        /* 0x0000000002027229 */
                                                                                             /* 0x001f4c000000000e */
        /*01d0*/                   DADD R2, R8, R2 ;                                         /* 0x0000000008027229 */
                                                                                             /* 0x020e0c0000000002 */
        /*01e0*/                   DADD R6, R18, R2 ;                                        /* 0x0000000012067229 */
                                                                                             /* 0x001e0c0000000002 */
        /*01f0*/                   DADD R8, -R2, R6 ;                                        /* 0x0000000002087229 */
                                                                                             /* 0x001e0c0000000106 */
        /*0200*/                   DADD R12, R6, -R8 ;                                       /* 0x00000000060c7229 */
                                                                                             /* 0x001e080000000808 */
        /*0210*/                   DADD R8, R18, -R8 ;                                       /* 0x0000000012087229 */
                                                                                             /* 0x000fc80000000808 */
        /*0220*/                   DADD R12, R2, -R12 ;                                      /* 0x00000000020c7229 */
                                                                                             /* 0x001064000000080c */
        /*0230*/                   IMAD.WIDE R2, R0, R29, c[0x0][0x160] ;                    /* 0x0000580000027625 */
                                                                                             /* 0x001fc800078e021d */
        /*0240*/                   DADD R8, R12, R8 ;                                        /* 0x000000000c087229 */
                                                                                             /* 0x002e220000000008 */
        /*0250*/                   STG.E.64 [R2.64], R22 ;                                   /* 0x0000001602007986 */
                                                                                             /* 0x000fe8000c101b04 */
        /*0260*/                   STG.E.64 [R2.64+0x8], R4 ;                                /* 0x0000080402007986 */
                                                                                             /* 0x000fe2000c101b04 */
        /*0270*/                   DADD R8, R8, R10 ;                                        /* 0x0000000008087229 */
                                                                                             /* 0x001e06000000000a */
        /*0280*/                   STG.E.64 [R2.64+0x10], R6 ;                               /* 0x0000100602007986 */
                                                                                             /* 0x000fe8000c101b04 */
        /*0290*/                   STG.E.64 [R2.64+0x18], R8 ;                               /* 0x0000180802007986 */
                                                                                             /* 0x001fe2000c101b04 */
        /*02a0*/                   EXIT ;                                                    /* 0x000000000000794d */
                                                                                             /* 0x000fea0003800000 */
        /*02b0*/                   BRA 0x2b0;                                                /* 0xfffffff000007947 */
                                                                                             /* 0x000fc0000383ffff */
        /*02c0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*02d0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*02e0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*02f0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0300*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0310*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0320*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0330*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0340*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0350*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0360*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0370*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
		..........


		Function : probe_uint256_add_chain
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                   /* 0x00000a00ff017624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_TID.X ;                                        /* 0x0000000000007919 */
                                                                                             /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R3, RZ, RZ, 0x8 ;                            /* 0x00000008ff037424 */
                                                                                             /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                              /* 0x0000460000047ab9 */
                                                                                             /* 0x000fe20000000a00 */
        /*0040*/                   IMAD.SHL.U32 R0, R0, 0x4, RZ ;                            /* 0x0000000400007824 */
                                                                                             /* 0x001fc800078e00ff */
        /*0050*/                   IMAD.WIDE R2, R0, R3, c[0x0][0x168] ;                     /* 0x00005a0000027625 */
                                                                                             /* 0x000fca00078e0203 */
        /*0060*/                   LDG.E.64 R18, [R2.64] ;                                   /* 0x0000000402127981 */
                                                                                             /* 0x000ea8000c1e1b00 */
        /*0070*/                   LDG.E.64 R4, [R2.64+0x18] ;                               /* 0x0000180402047981 */
                                                                                             /* 0x000168000c1e1b00 */
        /*0080*/                   LDG.E.64 R16, [R2.64+0x8] ;                               /* 0x0000080402107981 */
                                                                                             /* 0x000168000c1e1b00 */
        /*0090*/                   LDG.E.64 R14, [R2.64+0x10] ;                              /* 0x00001004020e7981 */
                                                                                             /* 0x000162000c1e1b00 */
        /*00a0*/                   IMAD.MOV.U32 R6, RZ, RZ, RZ ;                             /* 0x000000ffff067224 */
                                                                                             /* 0x000fe200078e00ff */
        /*00b0*/                   SHF.R.S32.HI R13, RZ, 0x1f, R0 ;                          /* 0x0000001fff0d7819 */
                                                                                             /* 0x000fe20000011400 */
        /*00c0*/                   IMAD.MOV.U32 R7, RZ, RZ, R18 ;                            /* 0x000000ffff077224 */
                                                                                             /* 0x004fc400078e0012 */
        /*00d0*/                   IMAD.MOV.U32 R12, RZ, RZ, R19 ;                           /* 0x000000ffff0c7224 */
                                                                                             /* 0x001fc600078e0013 */
        /*00e0*/                   ISETP.NE.U32.AND P0, PT, R7, -0x1, PT ;                   /* 0xffffffff0700780c */
                                                                                             /* 0x000fe40003f05070 */
        /*00f0*/                   IADD3 R6, R6, 0x1, RZ ;                                   /* 0x0000000106067810 */
                                                                                             /* 0x000fe40007ffe0ff */
        /*0100*/                   ISETP.NE.AND.EX P0, PT, R12, -0x1, PT, P0 ;               /* 0xffffffff0c00780c */
                                                                                             /* 0x000fc80003f05300 */
        /*0110*/                   SEL R9, RZ, 0x1, P0 ;                                     /* 0x00000001ff097807 */
                                                                                             /* 0x000fe40000000000 */
        /*0120*/                   ISETP.NE.U32.AND P0, PT, R7, -0x1, PT ;                   /* 0xffffffff0700780c */
                                                                                             /* 0x000fe40003f05070 */
        /*0130*/                   IADD3 R8, P1, R16, R9, RZ ;                               /* 0x0000000910087210 */
                                                                                             /* 0x020fe40007f3e0ff */
        /*0140*/                   ISETP.NE.AND.EX P0, PT, R12, -0x1, PT, P0 ;               /* 0xffffffff0c00780c */
                                                                                             /* 0x000fe40003f05300 */
        /*0150*/                   ISETP.LT.U32.AND P2, PT, R8, R16, PT ;                    /* 0x000000100800720c */
                                                                                             /* 0x000fe20003f41070 */
        /*0160*/                   IMAD.X R9, RZ, RZ, R17, P1 ;                              /* 0x000000ffff097224 */
                                                                                             /* 0x000fca00008e0611 */
        /*0170*/                   ISETP.LT.U32.OR.EX P1, PT, R9, R17, P0, P2 ;              /* 0x000000110900720c */
                                                                                             /* 0x000fe40000721520 */
        /*0180*/                   ISETP.GE.U32.AND P2, PT, R8, R16, PT ;                    /* 0x000000100800720c */
                                                                                             /* 0x000fe20003f46070 */
        /*0190*/                   IMAD.MOV.U32 R16, RZ, RZ, R8 ;                            /* 0x000000ffff107224 */
                                                                                             /* 0x000fc600078e0008 */
        /*01a0*/                   ISETP.GE.U32.AND.EX P2, PT, R9, R17, PT, P2 ;             /* 0x000000110900720c */
                                                                                             /* 0x000fe20003f46120 */
        /*01b0*/                   IMAD.MOV.U32 R17, RZ, RZ, R9 ;                            /* 0x000000ffff117224 */
                                                                                             /* 0x000fc600078e0009 */
        /*01c0*/                   SEL R2, RZ, 0xffffffff, P2 ;                              /* 0xffffffffff027807 */
                                                                                             /* 0x000fc60001000000 */
        /*01d0*/              @!P1 SEL R2, RZ, 0xffffffff, !P0 ;                             /* 0xffffffffff029807 */
                                                                                             /* 0x000fc80004000000 */
        /*01e0*/                   LOP3.LUT R3, R2, 0x1, RZ, 0xc0, !PT ;                     /* 0x0000000102037812 */
                                                                                             /* 0x000fc800078ec0ff */
        /*01f0*/                   IADD3 R10, P1, R3.reuse, R14.reuse, RZ ;                  /* 0x0000000e030a7210 */
                                                                                             /* 0x0c0fe40007f3e0ff */
        /*0200*/                   ISETP.NE.U32.AND P2, PT, R3, 0x1, PT ;                    /* 0x000000010300780c */
                                                                                             /* 0x000fe40003f45070 */
        /*0210*/                   ISETP.LT.U32.AND P0, PT, R10.reuse, R14.reuse, PT ;       /* 0x0000000e0a00720c */
                                                                                             /* 0x0c0fe20003f01070 */
        /*0220*/                   IMAD.X R11, RZ, RZ, R15, P1 ;                             /* 0x000000ffff0b7224 */
                                                                                             /* 0x000fe200008e060f */
        /*0230*/                   ISETP.GE.U32.AND P1, PT, R10, R14, PT ;                   /* 0x0000000e0a00720c */
                                                                                             /* 0x000fe20003f26070 */
        /*0240*/                   IMAD.MOV.U32 R14, RZ, RZ, R10 ;                           /* 0x000000ffff0e7224 */
                                                                                             /* 0x000fe200078e000a */
        /*0250*/                   SEL R2, RZ, 0xffffffff, !P2 ;                             /* 0xffffffffff027807 */
                                                                                             /* 0x000fe40005000000 */
        /*0260*/                   ISETP.LT.U32.OR.EX P0, PT, R11, R15, P2, P0 ;             /* 0x0000000f0b00720c */
                                                                                             /* 0x000fc40001701500 */
        /*0270*/                   ISETP.GE.U32.AND.EX P1, PT, R11, R15, PT, P1 ;            /* 0x0000000f0b00720c */
                                                                                             /* 0x000fe20003f26110 */
        /*0280*/                   IMAD.MOV.U32 R15, RZ, RZ, R11 ;                           /* 0x000000ffff0f7224 */
                                                                                             /* 0x000fd400078e000b */
        /*0290*/               @P0 SEL R2, RZ, 0xffffffff, P1 ;                              /* 0xffffffffff020807 */
                                                                                             /* 0x000fc80000800000 */
        /*02a0*/                   LOP3.LUT R3, R2, 0x1, RZ, 0xc0, !PT ;                     /* 0x0000000102037812 */
                                                                                             /* 0x000fe400078ec0ff */
        /*02b0*/                   IADD3 R2, P0, R7, 0x1, RZ ;                               /* 0x0000000107027810 */
                                                                                             /* 0x000fe40007f1e0ff */
        /*02c0*/                   IADD3 R4, P1, R4, R3, RZ ;                                /* 0x0000000304047210 */
                                                                                             /* 0x000fc60007f3e0ff */
        /*02d0*/                   IMAD.X R3, RZ, RZ, R12, P0 ;                              /* 0x000000ffff037224 */
                                                                                             /* 0x000fe200000e060c */
        /*02e0*/                   ISETP.NE.AND P0, PT, R6, 0x80, PT ;                       /* 0x000000800600780c */
                                                                                             /* 0x000fe20003f05270 */
        /*02f0*/                   IMAD.X R5, RZ, RZ, R5, P1 ;                               /* 0x000000ffff057224 */
                                                                                             /* 0x000fe400008e0605 */
        /*0300*/                   IMAD.MOV.U32 R7, RZ, RZ, R2 ;                             /* 0x000000ffff077224 */
                                                                                             /* 0x000fe400078e0002 */
        /*0310*/                   IMAD.MOV.U32 R12, RZ, RZ, R3 ;                            /* 0x000000ffff0c7224 */
                                                                                             /* 0x000fd000078e0003 */
        /*0320*/               @P0 BRA 0xe0 ;                                                /* 0xfffffdb000000947 */
                                                                                             /* 0x000fea000383ffff */
        /*0330*/                   IADD3 R6, P0, R18, 0x80, RZ ;                             /* 0x0000008012067810 */
                                                                                             /* 0x000fe40007f1e0ff */
        /*0340*/                   LEA R2, P1, R0, c[0x0][0x160], 0x3 ;                      /* 0x0000580000027a11 */
                                                                                             /* 0x000fc600078218ff */
        /*0350*/                   IMAD.X R7, RZ, RZ, R19, P0 ;                              /* 0x000000ffff077224 */
                                                                                             /* 0x000fe200000e0613 */
        /*0360*/                   LEA.HI.X R3, R0, c[0x0][0x164], R13, 0x3, P1 ;            /* 0x0000590000037a11 */
                                                                                             /* 0x000fca00008f1c0d */
        /*0370*/                   STG.E.64 [R2.64], R6 ;                                    /* 0x0000000602007986 */
                                                                                             /* 0x000fe8000c101b04 */
        /*0380*/                   STG.E.64 [R2.64+0x8], R8 ;                                /* 0x0000080802007986 */
                                                                                             /* 0x000fe8000c101b04 */
        /*0390*/                   STG.E.64 [R2.64+0x10], R10 ;                              /* 0x0000100a02007986 */
                                                                                             /* 0x000fe8000c101b04 */
        /*03a0*/                   STG.E.64 [R2.64+0x18], R4 ;                               /* 0x0000180402007986 */
                                                                                             /* 0x000fe2000c101b04 */
        /*03b0*/                   EXIT ;                                                    /* 0x000000000000794d */
                                                                                             /* 0x000fea0003800000 */
        /*03c0*/                   BRA 0x3c0;                                                /* 0xfffffff000007947 */
                                                                                             /* 0x000fc0000383ffff */
        /*03d0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03e0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03f0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0400*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0410*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0420*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0430*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0440*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0450*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0460*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0470*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
		..........


		Function : probe_fp128_dd_add_chain
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                   /* 0x00000a00ff017624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0010*/                   S2R R12, SR_TID.X ;                                       /* 0x00000000000c7919 */
                                                                                             /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R5, RZ, RZ, 0x8 ;                            /* 0x00000008ff057424 */
                                                                                             /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                              /* 0x0000460000047ab9 */
                                                                                             /* 0x000fc60000000a00 */
        /*0040*/                   IMAD.WIDE R2, R12, R5, c[0x0][0x170] ;                    /* 0x00005c000c027625 */
                                                                                             /* 0x001fc800078e0205 */
        /*0050*/                   IMAD.WIDE R4, R12, R5, c[0x0][0x178] ;                    /* 0x00005e000c047625 */
                                                                                             /* 0x000fe400078e0205 */
        /*0060*/                   LDG.E.64 R2, [R2.64] ;                                    /* 0x0000000402027981 */
                                                                                             /* 0x000f68000c1e1b00 */
        /*0070*/                   LDG.E.64 R4, [R4.64] ;                                    /* 0x0000000404047981 */
                                                                                             /* 0x000f62000c1e1b00 */
        /*0080*/                   IMAD.MOV.U32 R0, RZ, RZ, RZ ;                             /* 0x000000ffff007224 */
                                                                                             /* 0x000fe200078e00ff */
        /*0090*/                   SHF.R.S32.HI R13, RZ, 0x1f, R12 ;                         /* 0x0000001fff0d7819 */
                                                                                             /* 0x000fc6000001140c */
        /*00a0*/                   DADD R6, R2, c[0x2][0x0] ;                                /* 0x0080000002067629 */
                                                                                             /* 0x021e220000000000 */
        /*00b0*/                   IADD3 R0, R0, 0x1, RZ ;                                   /* 0x0000000100007810 */
                                                                                             /* 0x000fc60007ffe0ff */
        /*00c0*/                   DADD R4, R4, c[0x2][0x8] ;                                /* 0x0080020004047629 */
                                                                                             /* 0x002fe20000000000 */
        /*00d0*/                   ISETP.NE.AND P0, PT, R0, 0x100, PT ;                      /* 0x000001000000780c */
                                                                                             /* 0x000fc60003f05270 */
        /*00e0*/                   DADD R8, R6, -R2 ;                                        /* 0x0000000006087229 */
                                                                                             /* 0x001e0c0000000802 */
        /*00f0*/                   DADD R10, R6, -R8 ;                                       /* 0x00000000060a7229 */
                                                                                             /* 0x001e080000000808 */
        /*0100*/                   DADD R8, -R8, c[0x2][0x0] ;                               /* 0x0080000008087629 */
                                                                                             /* 0x000fc80000000100 */
        /*0110*/                   DADD R10, -R10, R2 ;                                      /* 0x000000000a0a7229 */
                                                                                             /* 0x001e0c0000000102 */
        /*0120*/                   DADD R8, R10, R8 ;                                        /* 0x000000000a087229 */
                                                                                             /* 0x001e0c0000000008 */
        /*0130*/                   DADD R4, R8, R4 ;                                         /* 0x0000000008047229 */
                                                                                             /* 0x001e0c0000000004 */
        /*0140*/                   DADD R2, R6, R4 ;                                         /* 0x0000000006027229 */
                                                                                             /* 0x001e0c0000000004 */
        /*0150*/                   DADD R8, -R6, R2 ;                                        /* 0x0000000006087229 */
                                                                                             /* 0x001e0c0000000102 */
        /*0160*/                   DADD R10, R2, -R8 ;                                       /* 0x00000000020a7229 */
                                                                                             /* 0x001e080000000808 */
        /*0170*/                   DADD R4, R4, -R8 ;                                        /* 0x0000000004047229 */
                                                                                             /* 0x000fc80000000808 */
        /*0180*/                   DADD R10, R6, -R10 ;                                      /* 0x00000000060a7229 */
                                                                                             /* 0x001e0c000000080a */
        /*0190*/                   DADD R4, R10, R4 ;                                        /* 0x000000000a047229 */
                                                                                             /* 0x0010620000000004 */
        /*01a0*/               @P0 BRA 0xa0 ;                                                /* 0xfffffef000000947 */
                                                                                             /* 0x000fea000383ffff */
        /*01b0*/                   IMAD.SHL.U32 R8, R12.reuse, 0x8, RZ ;                     /* 0x000000080c087824 */
                                                                                             /* 0x040fe200078e00ff */
        /*01c0*/                   SHF.L.U64.HI R13, R12, 0x3, R13 ;                         /* 0x000000030c0d7819 */
                                                                                             /* 0x000fc8000001020d */
        /*01d0*/                   IADD3 R6, P0, R8.reuse, c[0x0][0x160], RZ ;               /* 0x0000580008067a10 */
                                                                                             /* 0x040fe40007f1e0ff */
        /*01e0*/                   IADD3 R8, P1, R8, c[0x0][0x168], RZ ;                     /* 0x00005a0008087a10 */
                                                                                             /* 0x000fe40007f3e0ff */
        /*01f0*/                   IADD3.X R7, R13.reuse, c[0x0][0x164], RZ, P0, !PT ;       /* 0x000059000d077a10 */
                                                                                             /* 0x040fe400007fe4ff */
        /*0200*/                   IADD3.X R9, R13, c[0x0][0x16c], RZ, P1, !PT ;             /* 0x00005b000d097a10 */
                                                                                             /* 0x000fc60000ffe4ff */
        /*0210*/                   STG.E.64 [R6.64], R2 ;                                    /* 0x0000000206007986 */
                                                                                             /* 0x000fe8000c101b04 */
        /*0220*/                   STG.E.64 [R8.64], R4 ;                                    /* 0x0000000408007986 */
                                                                                             /* 0x002fe2000c101b04 */
        /*0230*/                   EXIT ;                                                    /* 0x000000000000794d */
                                                                                             /* 0x000fea0003800000 */
        /*0240*/                   BRA 0x240;                                                /* 0xfffffff000007947 */
                                                                                             /* 0x000fc0000383ffff */
        /*0250*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0280*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0290*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*02a0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*02b0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*02c0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*02d0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*02e0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*02f0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
		..........


		Function : probe_bf8_as_fp8e5m2
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                   /* 0x00000a00ff017624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_TID.X ;                                        /* 0x0000000000047919 */
                                                                                             /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                                      /* 0x0000000000037919 */
                                                                                             /* 0x000e240000002500 */
        /*0030*/                   IMAD R4, R3, c[0x0][0x0], R4 ;                            /* 0x0000000003047a24 */
                                                                                             /* 0x001fca00078e0204 */
        /*0040*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x170], PT ;              /* 0x00005c0004007a0c */
                                                                                             /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                                    /* 0x000000000000094d */
                                                                                             /* 0x000fea0003800000 */
        /*0060*/                   MOV R5, 0x4 ;                                             /* 0x0000000400057802 */
                                                                                             /* 0x000fe20000000f00 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                              /* 0x0000460000047ab9 */
                                                                                             /* 0x000fc80000000a00 */
        /*0080*/                   IMAD.WIDE R2, R4, R5, c[0x0][0x168] ;                     /* 0x00005a0004027625 */
                                                                                             /* 0x000fcc00078e0205 */
        /*0090*/                   LDG.E R2, [R2.64] ;                                       /* 0x0000000402027981 */
                                                                                             /* 0x000ea2000c1e1900 */
        /*00a0*/                   IMAD.WIDE R4, R4, R5, c[0x0][0x160] ;                     /* 0x0000580004047625 */
                                                                                             /* 0x000fe200078e0205 */
        /*00b0*/                   F2FP.SATFINITE.E5M2.F32.PACK_AB_MERGE_C R0, RZ, R2, RZ ;  /* 0x00000002ff00723e */
                                                                                             /* 0x004fc800048060ff */
        /*00c0*/                   LOP3.LUT R0, R0, 0xff, RZ, 0xc0, !PT ;                    /* 0x000000ff00007812 */
                                                                                             /* 0x000fc800078ec0ff */
        /*00d0*/                   F2FP.F16.E5M2.UNPACK_B R0, R0 ;                           /* 0x00000000ff00723e */
                                                                                             /* 0x000fca00020004ff */
        /*00e0*/                   HADD2.F32 R7, -RZ, R0.H0_H0 ;                             /* 0x20000000ff077230 */
                                                                                             /* 0x000fca0000004100 */
        /*00f0*/                   STG.E [R4.64], R7 ;                                       /* 0x0000000704007986 */
                                                                                             /* 0x000fe2000c101904 */
        /*0100*/                   EXIT ;                                                    /* 0x000000000000794d */
                                                                                             /* 0x000fea0003800000 */
        /*0110*/                   BRA 0x110;                                                /* 0xfffffff000007947 */
                                                                                             /* 0x000fc0000383ffff */
        /*0120*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
		..........


		Function : probe_bf4_hypothetical
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                   /* 0x00000a00ff017624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0010*/                   S2R R5, SR_TID.X ;                                        /* 0x0000000000057919 */
                                                                                             /* 0x000e220000002100 */
        /*0020*/                   ULDC.64 UR4, c[0x0][0x118] ;                              /* 0x0000460000047ab9 */
                                                                                             /* 0x000fe20000000a00 */
        /*0030*/                   IADD3 R2, P0, R5, c[0x0][0x168], RZ ;                     /* 0x00005a0005027a10 */
                                                                                             /* 0x001fc80007f1e0ff */
        /*0040*/                   LEA.HI.X.SX32 R3, R5, c[0x0][0x16c], 0x1, P0 ;            /* 0x00005b0005037a11 */
                                                                                             /* 0x000fca00000f0eff */
        /*0050*/                   LDG.E.S8 R2, [R2.64] ;                                    /* 0x0000000402027981 */
                                                                                             /* 0x000ea2000c1e1300 */
        /*0060*/                   IMAD.MOV.U32 R7, RZ, RZ, 0x3f800000 ;                     /* 0x3f800000ff077424 */
                                                                                             /* 0x000fe400078e00ff */
        /*0070*/                   IMAD.MOV.U32 R9, RZ, RZ, 0x4 ;                            /* 0x00000004ff097424 */
                                                                                             /* 0x000fe200078e00ff */
        /*0080*/                   LOP3.LUT R4, R2.reuse, 0xffff, RZ, 0xc0, !PT ;            /* 0x0000ffff02047812 */
                                                                                             /* 0x044fe200078ec0ff */
        /*0090*/                   IMAD.SHL.U32 R0, R2.reuse, 0x4, RZ ;                      /* 0x0000000402007824 */
                                                                                             /* 0x040fe200078e00ff */
        /*00a0*/                   LOP3.LUT P0, RZ, R2, 0x8, RZ, 0xc0, !PT ;                 /* 0x0000000802ff7812 */
                                                                                             /* 0x000fe4000780c0ff */
        /*00b0*/                   SHF.R.U32.HI R4, RZ, 0x2, R4 ;                            /* 0x00000002ff047819 */
                                                                                             /* 0x000fe40000011604 */
        /*00c0*/                   LOP3.LUT R0, R0, 0x1c, RZ, 0xc0, !PT ;                    /* 0x0000001c00007812 */
                                                                                             /* 0x000fc400078ec0ff */
        /*00d0*/                   LOP3.LUT R4, R4, 0x1c, RZ, 0xc0, !PT ;                    /* 0x0000001c04047812 */
                                                                                             /* 0x000fe400078ec0ff */
        /*00e0*/                   ISETP.GE.AND P1, PT, R2, RZ, PT ;                         /* 0x000000ff0200720c */
                                                                                             /* 0x000fe20003f26270 */
        /*00f0*/                   IMAD.SHL.U32 R2, R5, 0x2, RZ ;                            /* 0x0000000205027824 */
                                                                                             /* 0x000fe200078e00ff */
        /*0100*/                   LDC R0, c[0x3][R0] ;                                      /* 0x00c0000000007b82 */
                                                                                             /* 0x000e220000000800 */
        /*0110*/                   FSEL R3, R7.reuse, -1, !P0 ;                              /* 0xbf80000007037808 */
                                                                                             /* 0x040fe40004000000 */
        /*0120*/                   FSEL R7, -R7, 1, !P1 ;                                    /* 0x3f80000007077808 */
                                                                                             /* 0x000fca0004800100 */
        /*0130*/                   LDC R4, c[0x3][R4] ;                                      /* 0x00c0000004047b82 */
                                                                                             /* 0x000e620000000800 */
        /*0140*/                   FMUL R5, R0, R3 ;                                         /* 0x0000000300057220 */
                                                                                             /* 0x001fe20000400000 */
        /*0150*/                   IMAD.WIDE R2, R2, R9, c[0x0][0x160] ;                     /* 0x0000580002027625 */
                                                                                             /* 0x000fca00078e0209 */
        /*0160*/                   STG.E [R2.64], R5 ;                                       /* 0x0000000502007986 */
                                                                                             /* 0x000fe2000c101904 */
        /*0170*/                   FMUL R7, R4, R7 ;                                         /* 0x0000000704077220 */
                                                                                             /* 0x002fca0000400000 */
        /*0180*/                   STG.E [R2.64+0x4], R7 ;                                   /* 0x0000040702007986 */
                                                                                             /* 0x000fe2000c101904 */
        /*0190*/                   EXIT ;                                                    /* 0x000000000000794d */
                                                                                             /* 0x000fea0003800000 */
        /*01a0*/                   BRA 0x1a0;                                                /* 0xfffffff000007947 */
                                                                                             /* 0x000fc0000383ffff */
        /*01b0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
		..........


