
	code for sm_89
	.target	sm_89

		Function : probe_dp4a_momentum
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R25, SR_TID.X ;                                /* 0x0000000000197919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R27, 0x4 ;                                     /* 0x00000004001b7802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fe20000000a00 */
        /*0040*/                   MOV R4, c[0x0][0x170] ;                            /* 0x00005c0000047a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0050*/                   MOV R5, c[0x0][0x174] ;                            /* 0x00005d0000057a02 */
                                                                                      /* 0x000fca0000000f00 */
        /*0060*/                   LDG.E R7, [R4.64] ;                                /* 0x0000000404077981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R9, [R4.64+0x4] ;                            /* 0x0000040404097981 */
                                                                                      /* 0x000ee8000c1e1900 */
        /*0080*/                   LDG.E R11, [R4.64+0x8] ;                           /* 0x00000804040b7981 */
                                                                                      /* 0x000f28000c1e1900 */
        /*0090*/                   LDG.E R8, [R4.64+0xc] ;                            /* 0x00000c0404087981 */
                                                                                      /* 0x000f62000c1e1900 */
        /*00a0*/                   LEA R2, R25, R25, 0x2 ;                            /* 0x0000001919027211 */
                                                                                      /* 0x001fc600078e10ff */
        /*00b0*/                   LDG.E R10, [R4.64+0x10] ;                          /* 0x00001004040a7981 */
                                                                                      /* 0x000ea4000c1e1900 */
        /*00c0*/                   IMAD.WIDE R2, R2, R27, c[0x0][0x168] ;             /* 0x00005a0002027625 */
                                                                                      /* 0x000fe400078e021b */
        /*00d0*/                   LDG.E R12, [R4.64+0x14] ;                          /* 0x00001404040c7981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*00e0*/                   LDG.E R0, [R2.64] ;                                /* 0x0000000402007981 */
                                                                                      /* 0x0000a8000c1e1900 */
        /*00f0*/                   LDG.E R6, [R2.64+0x4] ;                            /* 0x0000040402067981 */
                                                                                      /* 0x000168000c1e1900 */
        /*0100*/                   LDG.E R13, [R4.64+0x18] ;                          /* 0x00001804040d7981 */
                                                                                      /* 0x000f68000c1e1900 */
        /*0110*/                   LDG.E R14, [R2.64+0x8] ;                           /* 0x00000804020e7981 */
                                                                                      /* 0x000168000c1e1900 */
        /*0120*/                   LDG.E R15, [R4.64+0x1c] ;                          /* 0x00001c04040f7981 */
                                                                                      /* 0x000f68000c1e1900 */
        /*0130*/                   LDG.E R16, [R4.64+0x20] ;                          /* 0x0000200404107981 */
                                                                                      /* 0x000f68000c1e1900 */
        /*0140*/                   LDG.E R17, [R4.64+0x24] ;                          /* 0x0000240404117981 */
                                                                                      /* 0x000f68000c1e1900 */
        /*0150*/                   LDG.E R18, [R2.64+0xc] ;                           /* 0x00000c0402127981 */
                                                                                      /* 0x000168000c1e1900 */
        /*0160*/                   LDG.E R19, [R4.64+0x28] ;                          /* 0x0000280404137981 */
                                                                                      /* 0x000f68000c1e1900 */
        /*0170*/                   LDG.E R20, [R4.64+0x2c] ;                          /* 0x00002c0404147981 */
                                                                                      /* 0x000f68000c1e1900 */
        /*0180*/                   LDG.E R22, [R2.64+0x10] ;                          /* 0x0000100402167981 */
                                                                                      /* 0x000168000c1e1900 */
        /*0190*/                   LDG.E R21, [R4.64+0x30] ;                          /* 0x0000300404157981 */
                                                                                      /* 0x000f68000c1e1900 */
        /*01a0*/                   LDG.E R23, [R4.64+0x34] ;                          /* 0x0000340404177981 */
                                                                                      /* 0x000f68000c1e1900 */
        /*01b0*/                   LDG.E R24, [R4.64+0x38] ;                          /* 0x0000380404187981 */
                                                                                      /* 0x000f62000c1e1900 */
        /*01c0*/                   LEA R2, R25, R25, 0x1 ;                            /* 0x0000001919027211 */
                                                                                      /* 0x001fca00078e08ff */
        /*01d0*/                   IMAD.WIDE R2, R2, R27, c[0x0][0x160] ;             /* 0x0000580002027625 */
                                                                                      /* 0x000fc800078e021b */
        /*01e0*/                   IDP.4A.S8.S8 R7, R0.reuse, R7, RZ ;                /* 0x0000000700077226 */
                                                                                      /* 0x044fe400000006ff */
        /*01f0*/                   IDP.4A.S8.S8 R9, R0.reuse, R9, RZ ;                /* 0x0000000900097226 */
                                                                                      /* 0x048fe400000006ff */
        /*0200*/                   IDP.4A.S8.S8 R11, R0, R11, RZ ;                    /* 0x0000000b000b7226 */
                                                                                      /* 0x010fe400000006ff */
        /*0210*/                   IDP.4A.S8.S8 R7, R6.reuse, R8, R7 ;                /* 0x0000000806077226 */
                                                                                      /* 0x060fe40000000607 */
        /*0220*/                   IDP.4A.S8.S8 R9, R6.reuse, R10, R9 ;               /* 0x0000000a06097226 */
                                                                                      /* 0x040fe40000000609 */
        /*0230*/                   IDP.4A.S8.S8 R11, R6, R12, R11 ;                   /* 0x0000000c060b7226 */
                                                                                      /* 0x000fc4000000060b */
        /*0240*/                   IDP.4A.S8.S8 R7, R14.reuse, R13, R7 ;              /* 0x0000000d0e077226 */
                                                                                      /* 0x040fe40000000607 */
        /*0250*/                   IDP.4A.S8.S8 R9, R14.reuse, R15, R9 ;              /* 0x0000000f0e097226 */
                                                                                      /* 0x040fe40000000609 */
        /*0260*/                   IDP.4A.S8.S8 R11, R14, R16, R11 ;                  /* 0x000000100e0b7226 */
                                                                                      /* 0x000fe4000000060b */
        /*0270*/                   IDP.4A.S8.S8 R7, R18.reuse, R17, R7 ;              /* 0x0000001112077226 */
                                                                                      /* 0x040fe40000000607 */
        /*0280*/                   IDP.4A.S8.S8 R9, R18.reuse, R19, R9 ;              /* 0x0000001312097226 */
                                                                                      /* 0x040fe40000000609 */
        /*0290*/                   IDP.4A.S8.S8 R11, R18, R20, R11 ;                  /* 0x00000014120b7226 */
                                                                                      /* 0x000fc4000000060b */
        /*02a0*/                   IDP.4A.S8.S8 R7, R22.reuse, R21, R7 ;              /* 0x0000001516077226 */
                                                                                      /* 0x040fe40000000607 */
        /*02b0*/                   IDP.4A.S8.S8 R9, R22.reuse, R23, R9 ;              /* 0x0000001716097226 */
                                                                                      /* 0x040fe40000000609 */
        /*02c0*/                   IDP.4A.S8.S8 R11, R22, R24, R11 ;                  /* 0x00000018160b7226 */
                                                                                      /* 0x000fe2000000060b */
        /*02d0*/                   STG.E [R2.64], R7 ;                                /* 0x0000000702007986 */
                                                                                      /* 0x000fe8000c101904 */
        /*02e0*/                   STG.E [R2.64+0x4], R9 ;                            /* 0x0000040902007986 */
                                                                                      /* 0x000fe8000c101904 */
        /*02f0*/                   STG.E [R2.64+0x8], R11 ;                           /* 0x0000080b02007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*0300*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*0310*/                   BRA 0x310;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0320*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0330*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0340*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0350*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0360*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0370*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0380*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0390*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*03a0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*03b0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*03c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*03d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*03e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*03f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_dp4a_throughput
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R0, SR_CTAID.X ;                               /* 0x0000000000007919 */
                                                                                      /* 0x000e220000002500 */
        /*0020*/                   MOV R15, 0x4 ;                                     /* 0x00000004000f7802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fe40000000a00 */
        /*0040*/                   S2R R3, SR_TID.X ;                                 /* 0x0000000000037919 */
                                                                                      /* 0x000e240000002100 */
        /*0050*/                   IMAD R0, R0, c[0x0][0x0], R3 ;                     /* 0x0000000000007a24 */
                                                                                      /* 0x001fc800078e0203 */
        /*0060*/                   IMAD.WIDE R2, R0, R15, c[0x0][0x168] ;             /* 0x00005a0000027625 */
                                                                                      /* 0x000fc800078e020f */
        /*0070*/                   IMAD.WIDE R4, R0, R15, c[0x0][0x170] ;             /* 0x00005c0000047625 */
                                                                                      /* 0x000fe400078e020f */
        /*0080*/                   LDG.E R2, [R2.64] ;                                /* 0x0000000402027981 */
                                                                                      /* 0x000168000c1e1900 */
        /*0090*/                   LDG.E R5, [R4.64] ;                                /* 0x0000000404057981 */
                                                                                      /* 0x000162000c1e1900 */
        /*00a0*/                   CS2R R6, SRZ ;                                     /* 0x0000000000067805 */
                                                                                      /* 0x000fe2000001ff00 */
        /*00b0*/                   CS2R R8, SRZ ;                                     /* 0x0000000000087805 */
                                                                                      /* 0x000fe2000001ff00 */
        /*00c0*/                   CS2R R10, SRZ ;                                    /* 0x00000000000a7805 */
                                                                                      /* 0x000fe2000001ff00 */
        /*00d0*/                   CS2R R12, SRZ ;                                    /* 0x00000000000c7805 */
                                                                                      /* 0x000fe2000001ff00 */
        /*00e0*/                   MOV R14, RZ ;                                      /* 0x000000ff000e7202 */
                                                                                      /* 0x000fc80000000f00 */
        /*00f0*/                   IADD3 R6, R6, 0x1, RZ ;                            /* 0x0000000106067810 */
                                                                                      /* 0x000fe20007ffe0ff */
        /*0100*/                   IDP.4A.S8.S8 R12, R2, R5, R12 ;                    /* 0x00000005020c7226 */
                                                                                      /* 0x020fc4000000060c */
        /*0110*/                   IDP.4A.S8.S8 R13, R2, R5.reuse, R13 ;              /* 0x00000005020d7226 */
                                                                                      /* 0x080fe2000000060d */
        /*0120*/                   ISETP.NE.AND P0, PT, R6, 0x40, PT ;                /* 0x000000400600780c */
                                                                                      /* 0x000fe20003f05270 */
        /*0130*/                   IDP.4A.S8.S8 R14, R2.reuse, R5.reuse, R14 ;        /* 0x00000005020e7226 */
                                                                                      /* 0x0c0fe4000000060e */
        /*0140*/                   IDP.4A.S8.S8 R11, R2.reuse, R5.reuse, R11 ;        /* 0x00000005020b7226 */
                                                                                      /* 0x0c0fe4000000060b */
        /*0150*/                   IDP.4A.S8.S8 R10, R2.reuse, R5.reuse, R10 ;        /* 0x00000005020a7226 */
                                                                                      /* 0x0c0fe4000000060a */
        /*0160*/                   IDP.4A.S8.S8 R9, R2.reuse, R5.reuse, R9 ;          /* 0x0000000502097226 */
                                                                                      /* 0x0c0fe40000000609 */
        /*0170*/                   IDP.4A.S8.S8 R8, R2, R5, R8 ;                      /* 0x0000000502087226 */
                                                                                      /* 0x000fc40000000608 */
        /*0180*/                   IDP.4A.S8.S8 R7, R2, R5, R7 ;                      /* 0x0000000502077226 */
                                                                                      /* 0x000fe40000000607 */
        /*0190*/               @P0 BRA 0xf0 ;                                         /* 0xffffff5000000947 */
                                                                                      /* 0x000fea000383ffff */
        /*01a0*/                   IADD3 R12, R12, R13, R14 ;                         /* 0x0000000d0c0c7210 */
                                                                                      /* 0x000fe20007ffe00e */
        /*01b0*/                   IMAD.WIDE R2, R0, R15, c[0x0][0x160] ;             /* 0x0000580000027625 */
                                                                                      /* 0x001fc600078e020f */
        /*01c0*/                   IADD3 R12, R10, R12, R11 ;                         /* 0x0000000c0a0c7210 */
                                                                                      /* 0x000fc80007ffe00b */
        /*01d0*/                   IADD3 R12, R8, R12, R9 ;                           /* 0x0000000c080c7210 */
                                                                                      /* 0x000fc80007ffe009 */
        /*01e0*/                   IADD3 R7, R7, R12, RZ ;                            /* 0x0000000c07077210 */
                                                                                      /* 0x000fca0007ffe0ff */
        /*01f0*/                   STG.E [R2.64], R7 ;                                /* 0x0000000702007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*0200*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*0210*/                   BRA 0x210;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0220*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0280*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0290*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02a0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02b0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*02f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_dp4a_chain
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;            /* 0x00000a00ff017624 */
                                                                                      /* 0x000fe400078e00ff */
        /*0010*/                   S2R R6, SR_TID.X ;                                 /* 0x0000000000067919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R5, RZ, RZ, 0x4 ;                     /* 0x00000004ff057424 */
                                                                                      /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc60000000a00 */
        /*0040*/                   IMAD.WIDE R2, R6, R5, c[0x0][0x168] ;              /* 0x00005a0006027625 */
                                                                                      /* 0x001fc800078e0205 */
        /*0050*/                   IMAD.WIDE R4, R6, R5, c[0x0][0x170] ;              /* 0x00005c0006047625 */
                                                                                      /* 0x000fe400078e0205 */
        /*0060*/                   LDG.E R2, [R2.64] ;                                /* 0x0000000402027981 */
                                                                                      /* 0x000168000c1e1900 */
        /*0070*/                   LDG.E R5, [R4.64] ;                                /* 0x0000000404057981 */
                                                                                      /* 0x000162000c1e1900 */
        /*0080*/                   MOV R0, RZ ;                                       /* 0x000000ff00007202 */
                                                                                      /* 0x000fe20000000f00 */
        /*0090*/                   IMAD.MOV.U32 R7, RZ, RZ, RZ ;                      /* 0x000000ffff077224 */
                                                                                      /* 0x000fe200078e00ff */
        /*00a0*/                   SHF.R.S32.HI R9, RZ, 0x1f, R6 ;                    /* 0x0000001fff097819 */
                                                                                      /* 0x000fe40000011406 */
        /*00b0*/                   IADD3 R0, R0, 0x1, RZ ;                            /* 0x0000000100007810 */
                                                                                      /* 0x000fe20007ffe0ff */
        /*00c0*/                   IDP.4A.S8.S8 R7, R2, R5, R7 ;                      /* 0x0000000502077226 */
                                                                                      /* 0x020fc60000000607 */
        /*00d0*/                   ISETP.NE.AND P0, PT, R0, 0x40, PT ;                /* 0x000000400000780c */
                                                                                      /* 0x000fda0003f05270 */
        /*00e0*/               @P0 BRA 0xb0 ;                                         /* 0xffffffc000000947 */
                                                                                      /* 0x000fea000383ffff */
        /*00f0*/                   LEA R2, P0, R6, c[0x0][0x160], 0x2 ;               /* 0x0000580006027a11 */
                                                                                      /* 0x000fc800078010ff */
        /*0100*/                   LEA.HI.X R3, R6, c[0x0][0x164], R9, 0x2, P0 ;      /* 0x0000590006037a11 */
                                                                                      /* 0x001fca00000f1409 */
        /*0110*/                   STG.E [R2.64], R7 ;                                /* 0x0000000702007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*0120*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*0130*/                   BRA 0x130;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_dp4a
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R6, SR_TID.X ;                                 /* 0x0000000000067919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R7, 0x4 ;                                      /* 0x0000000400077802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R6, R7, c[0x0][0x168] ;              /* 0x00005a0006027625 */
                                                                                      /* 0x001fc800078e0207 */
        /*0050*/                   IMAD.WIDE R4, R6.reuse, R7.reuse, c[0x0][0x170] ;  /* 0x00005c0006047625 */
                                                                                      /* 0x0c0fe400078e0207 */
        /*0060*/                   LDG.E R2, [R2.64] ;                                /* 0x0000000402027981 */
                                                                                      /* 0x000ea8000c1e1900 */
        /*0070*/                   LDG.E R5, [R4.64] ;                                /* 0x0000000404057981 */
                                                                                      /* 0x000ea2000c1e1900 */
        /*0080*/                   IMAD.WIDE R6, R6, R7, c[0x0][0x160] ;              /* 0x0000580006067625 */
                                                                                      /* 0x000fc800078e0207 */
        /*0090*/                   IDP.4A.S8.S8 R9, R2, R5, RZ ;                      /* 0x0000000502097226 */
                                                                                      /* 0x004fca00000006ff */
        /*00a0*/                   STG.E [R6.64], R9 ;                                /* 0x0000000906007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*00b0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*00c0*/                   BRA 0xc0;                                          /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*00d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0100*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


