
	code for sm_89
	.target	sm_89

		Function : probe_uint128_mul64x64
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                         /* 0x00000a0000017a02 */
                                                                                  /* 0x000fe40000000f00 */
        /*0010*/                   S2R R0, SR_TID.X ;                             /* 0x0000000000007919 */
                                                                                  /* 0x000e220000002100 */
        /*0020*/                   MOV R17, 0x8 ;                                 /* 0x0000000800117802 */
                                                                                  /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                   /* 0x0000460000047ab9 */
                                                                                  /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R0, R17, c[0x0][0x168] ;         /* 0x00005a0000027625 */
                                                                                  /* 0x001fc800078e0211 */
        /*0050*/                   IMAD.WIDE R4, R0, R17, c[0x0][0x170] ;         /* 0x00005c0000047625 */
                                                                                  /* 0x000fe400078e0211 */
        /*0060*/                   LDG.E.64 R2, [R2.64] ;                         /* 0x0000000402027981 */
                                                                                  /* 0x000ea8000c1e1b00 */
        /*0070*/                   LDG.E.64 R4, [R4.64] ;                         /* 0x0000000404047981 */
                                                                                  /* 0x000ea4000c1e1b00 */
        /*0080*/                   IMAD.WIDE.U32 R6, R3, R4, RZ ;                 /* 0x0000000403067225 */
                                                                                  /* 0x004fc800078e00ff */
        /*0090*/                   IMAD R15, R5, R2, RZ ;                         /* 0x00000002050f7224 */
                                                                                  /* 0x000fe400078e02ff */
        /*00a0*/                   IMAD.WIDE.U32 R10, P0, R2, R5, R6 ;            /* 0x00000005020a7225 */
                                                                                  /* 0x000fc80007800006 */
        /*00b0*/                   IMAD.WIDE.U32 R6, R2, R4, RZ ;                 /* 0x0000000402067225 */
                                                                                  /* 0x000fe200078e00ff */
        /*00c0*/                   IADD3.X R13, RZ, RZ, RZ, P0, !PT ;             /* 0x000000ffff0d7210 */
                                                                                  /* 0x000fe400007fe4ff */
        /*00d0*/                   SHF.L.U32 R6, R0, 0x1, RZ ;                    /* 0x0000000100067819 */
                                                                                  /* 0x000fe200000006ff */
        /*00e0*/                   IMAD.WIDE.U32 R8, R4, R2, RZ ;                 /* 0x0000000204087225 */
                                                                                  /* 0x000fe200078e00ff */
        /*00f0*/                   IADD3 RZ, P0, R7, R10, RZ ;                    /* 0x0000000a07ff7210 */
                                                                                  /* 0x000fe40007f1e0ff */
        /*0100*/                   MOV R12, R11 ;                                 /* 0x0000000b000c7202 */
                                                                                  /* 0x000fe20000000f00 */
        /*0110*/                   IMAD R15, R3, R4, R15 ;                        /* 0x00000004030f7224 */
                                                                                  /* 0x000fe400078e020f */
        /*0120*/                   IMAD.WIDE R6, R6, R17, c[0x0][0x160] ;         /* 0x0000580006067625 */
                                                                                  /* 0x000fc600078e0211 */
        /*0130*/                   IADD3 R9, R9, R15, RZ ;                        /* 0x0000000f09097210 */
                                                                                  /* 0x000fe20007ffe0ff */
        /*0140*/                   IMAD.WIDE.U32.X R2, R3, R5, R12, P0 ;          /* 0x0000000503027225 */
                                                                                  /* 0x000fc800000e040c */
        /*0150*/                   STG.E.64 [R6.64], R8 ;                         /* 0x0000000806007986 */
                                                                                  /* 0x000fe8000c101b04 */
        /*0160*/                   STG.E.64 [R6.64+0x8], R2 ;                     /* 0x0000080206007986 */
                                                                                  /* 0x000fe2000c101b04 */
        /*0170*/                   EXIT ;                                         /* 0x000000000000794d */
                                                                                  /* 0x000fea0003800000 */
        /*0180*/                   BRA 0x180;                                     /* 0xfffffff000007947 */
                                                                                  /* 0x000fc0000383ffff */
        /*0190*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
		..........


		Function : probe_int128_signed
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;        /* 0x00000a00ff017624 */
                                                                                  /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_TID.X ;                             /* 0x0000000000007919 */
                                                                                  /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R3, RZ, RZ, 0x8 ;                 /* 0x00000008ff037424 */
                                                                                  /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                   /* 0x0000460000047ab9 */
                                                                                  /* 0x000fe20000000a00 */
        /*0040*/                   IMAD.SHL.U32 R0, R0, 0x2, RZ ;                 /* 0x0000000200007824 */
                                                                                  /* 0x001fc800078e00ff */
        /*0050*/                   IMAD.WIDE R2, R0, R3, c[0x0][0x168] ;          /* 0x00005a0000027625 */
                                                                                  /* 0x000fca00078e0203 */
        /*0060*/                   LDG.E.64 R8, [R2.64+0x8] ;                     /* 0x0000080402087981 */
                                                                                  /* 0x0000a8000c1e1b00 */
        /*0070*/                   LDG.E.64 R2, [R2.64] ;                         /* 0x0000000402027981 */
                                                                                  /* 0x001ee2000c1e1b00 */
        /*0080*/                   SHF.R.S32.HI R5, RZ, 0x1f, R0 ;                /* 0x0000001fff057819 */
                                                                                  /* 0x000fe40000011400 */
        /*0090*/                   LEA R4, P3, R0, c[0x0][0x160], 0x3 ;           /* 0x0000580000047a11 */
                                                                                  /* 0x000fc800078618ff */
        /*00a0*/                   LEA.HI.X R5, R0, c[0x0][0x164], R5, 0x3, P3 ;  /* 0x0000590000057a11 */
                                                                                  /* 0x000fe400018f1c05 */
        /*00b0*/                   ISETP.GT.U32.AND P0, PT, R8, -0x1, PT ;        /* 0xffffffff0800780c */
                                                                                  /* 0x004fc80003f04070 */
        /*00c0*/                   ISETP.GT.AND.EX P0, PT, R9, -0x1, PT, P0 ;     /* 0xffffffff0900780c */
                                                                                  /* 0x000fda0003f04300 */
        /*00d0*/              @!P0 ISETP.NE.U32.AND P1, PT, R2, RZ, PT ;          /* 0x000000ff0200820c */
                                                                                  /* 0x008fe40003f25070 */
        /*00e0*/              @!P0 IADD3 R10, P2, RZ, -R2, RZ ;                   /* 0x80000002ff0a8210 */
                                                                                  /* 0x000fe40007f5e0ff */
        /*00f0*/              @!P0 ISETP.NE.AND.EX P1, PT, R3, RZ, PT, P1 ;       /* 0x000000ff0300820c */
                                                                                  /* 0x000fe40003f25310 */
        /*0100*/              @!P0 LOP3.LUT R6, RZ, R8, RZ, 0x33, !PT ;           /* 0x00000008ff068212 */
                                                                                  /* 0x000fe200078e33ff */
        /*0110*/              @!P0 IMAD.X R11, RZ, RZ, ~R3, P2 ;                  /* 0x000000ffff0b8224 */
                                                                                  /* 0x000fe200010e0e03 */
        /*0120*/              @!P0 SEL R7, RZ, 0x1, P1 ;                          /* 0x00000001ff078807 */
                                                                                  /* 0x000fe20000800000 */
        /*0130*/              @!P0 IMAD.MOV.U32 R2, RZ, RZ, R10 ;                 /* 0x000000ffff028224 */
                                                                                  /* 0x000fe200078e000a */
        /*0140*/              @!P0 LOP3.LUT R0, RZ, R9, RZ, 0x33, !PT ;           /* 0x00000009ff008212 */
                                                                                  /* 0x000fe200078e33ff */
        /*0150*/              @!P0 IMAD.MOV.U32 R3, RZ, RZ, R11 ;                 /* 0x000000ffff038224 */
                                                                                  /* 0x000fe200078e000b */
        /*0160*/              @!P0 IADD3 R8, P1, R6, R7, RZ ;                     /* 0x0000000706088210 */
                                                                                  /* 0x000fc80007f3e0ff */
        /*0170*/                   STG.E.64 [R4.64], R2 ;                         /* 0x0000000204007986 */
                                                                                  /* 0x0001e2000c101b04 */
        /*0180*/              @!P0 IMAD.X R9, RZ, RZ, R0, P1 ;                    /* 0x000000ffff098224 */
                                                                                  /* 0x000fe400008e0600 */
        /*0190*/                   IMAD.MOV.U32 R2, RZ, RZ, R8 ;                  /* 0x000000ffff027224 */
                                                                                  /* 0x001fe400078e0008 */
        /*01a0*/                   IMAD.MOV.U32 R3, RZ, RZ, R9 ;                  /* 0x000000ffff037224 */
                                                                                  /* 0x000fca00078e0009 */
        /*01b0*/                   STG.E.64 [R4.64+0x8], R2 ;                     /* 0x0000080204007986 */
                                                                                  /* 0x000fe2000c101b04 */
        /*01c0*/                   EXIT ;                                         /* 0x000000000000794d */
                                                                                  /* 0x000fea0003800000 */
        /*01d0*/                   BRA 0x1d0;                                     /* 0xfffffff000007947 */
                                                                                  /* 0x000fc0000383ffff */
        /*01e0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
		..........


		Function : probe_uint128_shift
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;        /* 0x00000a00ff017624 */
                                                                                  /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_TID.X ;                             /* 0x0000000000007919 */
                                                                                  /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R3, RZ, RZ, 0x8 ;                 /* 0x00000008ff037424 */
                                                                                  /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                   /* 0x0000460000047ab9 */
                                                                                  /* 0x000fe20000000a00 */
        /*0040*/                   IMAD.SHL.U32 R0, R0, 0x2, RZ ;                 /* 0x0000000200007824 */
                                                                                  /* 0x001fc800078e00ff */
        /*0050*/                   IMAD.WIDE R2, R0, R3, c[0x0][0x168] ;          /* 0x00005a0000027625 */
                                                                                  /* 0x000fca00078e0203 */
        /*0060*/                   LDG.E.64 R4, [R2.64+0x8] ;                     /* 0x0000080402047981 */
                                                                                  /* 0x000168000c1e1b00 */
        /*0070*/                   LDG.E.64 R6, [R2.64] ;                         /* 0x0000000402067981 */
                                                                                  /* 0x000162000c1e1b00 */
        /*0080*/                   IMAD.MOV.U32 R8, RZ, RZ, RZ ;                  /* 0x000000ffff087224 */
                                                                                  /* 0x000fe200078e00ff */
        /*0090*/                   SHF.R.S32.HI R9, RZ, 0x1f, R0 ;                /* 0x0000001fff097819 */
                                                                                  /* 0x000fc80000011400 */
        /*00a0*/                   IADD3 R8, R8, 0x1, RZ ;                        /* 0x0000000108087810 */
                                                                                  /* 0x000fe20007ffe0ff */
        /*00b0*/                   IMAD.SHL.U32 R3, R4, 0x8, RZ ;                 /* 0x0000000804037824 */
                                                                                  /* 0x021fe200078e00ff */
        /*00c0*/                   SHF.R.U32.HI R10, RZ, 0x1d, R7 ;               /* 0x0000001dff0a7819 */
                                                                                  /* 0x000fe20000011607 */
        /*00d0*/                   IMAD.SHL.U32 R2, R6, 0x2, RZ ;                 /* 0x0000000206027824 */
                                                                                  /* 0x000fe200078e00ff */
        /*00e0*/                   ISETP.NE.AND P0, PT, R8, 0x100, PT ;           /* 0x000001000800780c */
                                                                                  /* 0x000fc40003f05270 */
        /*00f0*/                   SHF.L.U64.HI R6, R6, 0x1, R7 ;                 /* 0x0000000106067819 */
                                                                                  /* 0x000fe20000010207 */
        /*0100*/                   IMAD.SHL.U32 R7, R10, 0x40000000, RZ ;         /* 0x400000000a077824 */
                                                                                  /* 0x000fe200078e00ff */
        /*0110*/                   SHF.L.U64.HI R5, R4, 0x3, R5 ;                 /* 0x0000000304057819 */
                                                                                  /* 0x000fe40000010205 */
        /*0120*/                   LOP3.LUT R4, R10, R3, RZ, 0xfc, !PT ;          /* 0x000000030a047212 */
                                                                                  /* 0x000fe400078efcff */
        /*0130*/                   LOP3.LUT R7, R7, 0x3fffffff, R6, 0xf8, !PT ;   /* 0x3fffffff07077812 */
                                                                                  /* 0x000fe400078ef806 */
        /*0140*/                   SHF.R.U64 R4, R4, 0x2, R5 ;                    /* 0x0000000204047819 */
                                                                                  /* 0x000fe40000001205 */
        /*0150*/                   LOP3.LUT R6, R2, 0xfffffffe, RZ, 0xc0, !PT ;   /* 0xfffffffe02067812 */
                                                                                  /* 0x000fc400078ec0ff */
        /*0160*/                   SHF.R.U32.HI R5, RZ, 0x2, R5 ;                 /* 0x00000002ff057819 */
                                                                                  /* 0x000fe20000011605 */
        /*0170*/               @P0 BRA 0xa0 ;                                     /* 0xffffff2000000947 */
                                                                                  /* 0x000fea000383ffff */
        /*0180*/                   LEA R2, P0, R0, c[0x0][0x160], 0x3 ;           /* 0x0000580000027a11 */
                                                                                  /* 0x000fc800078018ff */
        /*0190*/                   LEA.HI.X R3, R0, c[0x0][0x164], R9, 0x3, P0 ;  /* 0x0000590000037a11 */
                                                                                  /* 0x000fca00000f1c09 */
        /*01a0*/                   STG.E.64 [R2.64], R6 ;                         /* 0x0000000602007986 */
                                                                                  /* 0x000fe8000c101b04 */
        /*01b0*/                   STG.E.64 [R2.64+0x8], R4 ;                     /* 0x0000080402007986 */
                                                                                  /* 0x000fe2000c101b04 */
        /*01c0*/                   EXIT ;                                         /* 0x000000000000794d */
                                                                                  /* 0x000fea0003800000 */
        /*01d0*/                   BRA 0x1d0;                                     /* 0xfffffff000007947 */
                                                                                  /* 0x000fc0000383ffff */
        /*01e0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
		..........


		Function : probe_uint128_add
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;        /* 0x00000a00ff017624 */
                                                                                  /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_TID.X ;                             /* 0x0000000000007919 */
                                                                                  /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R3, RZ, RZ, 0x8 ;                 /* 0x00000008ff037424 */
                                                                                  /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                   /* 0x0000460000047ab9 */
                                                                                  /* 0x000fe20000000a00 */
        /*0040*/                   IMAD.SHL.U32 R0, R0, 0x2, RZ ;                 /* 0x0000000200007824 */
                                                                                  /* 0x001fc800078e00ff */
        /*0050*/                   IMAD.WIDE R2, R0, R3, c[0x0][0x168] ;          /* 0x00005a0000027625 */
                                                                                  /* 0x000fca00078e0203 */
        /*0060*/                   LDG.E.64 R10, [R2.64] ;                        /* 0x00000004020a7981 */
                                                                                  /* 0x000ea8000c1e1b00 */
        /*0070*/                   LDG.E.64 R4, [R2.64+0x8] ;                     /* 0x0000080402047981 */
                                                                                  /* 0x000162000c1e1b00 */
        /*0080*/                   IMAD.MOV.U32 R6, RZ, RZ, RZ ;                  /* 0x000000ffff067224 */
                                                                                  /* 0x000fe200078e00ff */
        /*0090*/                   SHF.R.S32.HI R9, RZ, 0x1f, R0 ;                /* 0x0000001fff097819 */
                                                                                  /* 0x000fe20000011400 */
        /*00a0*/                   IMAD.MOV.U32 R7, RZ, RZ, R10 ;                 /* 0x000000ffff077224 */
                                                                                  /* 0x004fe200078e000a */
        /*00b0*/                   MOV R8, R11 ;                                  /* 0x0000000b00087202 */
                                                                                  /* 0x001fc80000000f00 */
        /*00c0*/                   ISETP.NE.U32.AND P0, PT, R7, -0x1, PT ;        /* 0xffffffff0700780c */
                                                                                  /* 0x000fe40003f05070 */
        /*00d0*/                   IADD3 R6, R6, 0x1, RZ ;                        /* 0x0000000106067810 */
                                                                                  /* 0x000fc40007ffe0ff */
        /*00e0*/                   ISETP.NE.AND.EX P0, PT, R8, -0x1, PT, P0 ;     /* 0xffffffff0800780c */
                                                                                  /* 0x000fe40003f05300 */
        /*00f0*/                   IADD3 R2, P1, R7, 0x1, RZ ;                    /* 0x0000000107027810 */
                                                                                  /* 0x000fe40007f3e0ff */
        /*0100*/                   SEL R3, RZ, 0x1, P0 ;                          /* 0x00000001ff037807 */
                                                                                  /* 0x000fe40000000000 */
        /*0110*/                   ISETP.NE.AND P0, PT, R6, 0x100, PT ;           /* 0x000001000600780c */
                                                                                  /* 0x000fe20003f05270 */
        /*0120*/                   IMAD.MOV.U32 R7, RZ, RZ, R2 ;                  /* 0x000000ffff077224 */
                                                                                  /* 0x000fe200078e0002 */
        /*0130*/                   IADD3 R4, P2, R4, R3, RZ ;                     /* 0x0000000304047210 */
                                                                                  /* 0x020fe20007f5e0ff */
        /*0140*/                   IMAD.X R3, RZ, RZ, R8, P1 ;                    /* 0x000000ffff037224 */
                                                                                  /* 0x000fc800008e0608 */
        /*0150*/                   IMAD.X R5, RZ, RZ, R5, P2 ;                    /* 0x000000ffff057224 */
                                                                                  /* 0x000fe200010e0605 */
        /*0160*/                   MOV R8, R3 ;                                   /* 0x0000000300087202 */
                                                                                  /* 0x000fca0000000f00 */
        /*0170*/               @P0 BRA 0xc0 ;                                     /* 0xffffff4000000947 */
                                                                                  /* 0x000fea000383ffff */
        /*0180*/                   IADD3 R6, P1, R10, 0x100, RZ ;                 /* 0x000001000a067810 */
                                                                                  /* 0x000fe40007f3e0ff */
        /*0190*/                   LEA R2, P0, R0, c[0x0][0x160], 0x3 ;           /* 0x0000580000027a11 */
                                                                                  /* 0x000fc600078018ff */
        /*01a0*/                   IMAD.X R7, RZ, RZ, R11, P1 ;                   /* 0x000000ffff077224 */
                                                                                  /* 0x000fe200008e060b */
        /*01b0*/                   LEA.HI.X R3, R0, c[0x0][0x164], R9, 0x3, P0 ;  /* 0x0000590000037a11 */
                                                                                  /* 0x000fca00000f1c09 */
        /*01c0*/                   STG.E.64 [R2.64], R6 ;                         /* 0x0000000602007986 */
                                                                                  /* 0x000fe8000c101b04 */
        /*01d0*/                   STG.E.64 [R2.64+0x8], R4 ;                     /* 0x0000080402007986 */
                                                                                  /* 0x000fe2000c101b04 */
        /*01e0*/                   EXIT ;                                         /* 0x000000000000794d */
                                                                                  /* 0x000fea0003800000 */
        /*01f0*/                   BRA 0x1f0;                                     /* 0xfffffff000007947 */
                                                                                  /* 0x000fc0000383ffff */
        /*0200*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
		..........


