
	code for sm_89
	.target	sm_89

		Function : probe_u8_vs_s8_to_float
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;         /* 0x00000a00ff017624 */
                                                                                   /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_TID.X ;                              /* 0x0000000000047919 */
                                                                                   /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                            /* 0x0000000000037919 */
                                                                                   /* 0x000e240000002500 */
        /*0030*/                   IMAD R4, R3, c[0x0][0x0], R4 ;                  /* 0x0000000003047a24 */
                                                                                   /* 0x001fca00078e0204 */
        /*0040*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x180], PT ;    /* 0x0000600004007a0c */
                                                                                   /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                          /* 0x000000000000094d */
                                                                                   /* 0x000fea0003800000 */
        /*0060*/                   SHF.R.S32.HI R0, RZ, 0x1f, R4 ;                 /* 0x0000001fff007819 */
                                                                                   /* 0x000fe20000011404 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fe20000000a00 */
        /*0080*/                   IADD3 R6, P0, R4, c[0x0][0x170], RZ ;           /* 0x00005c0004067a10 */
                                                                                   /* 0x000fc80007f1e0ff */
        /*0090*/                   IADD3.X R7, R0, c[0x0][0x174], RZ, P0, !PT ;    /* 0x00005d0000077a10 */
                                                                                   /* 0x000fca00007fe4ff */
        /*00a0*/                   LDG.E.U8 R6, [R6.64] ;                          /* 0x0000000406067981 */
                                                                                   /* 0x000ea2000c1e1100 */
        /*00b0*/                   IMAD.MOV.U32 R5, RZ, RZ, 0x4 ;                  /* 0x00000004ff057424 */
                                                                                   /* 0x000fe200078e00ff */
        /*00c0*/                   IADD3 R8, P0, R4, c[0x0][0x178], RZ ;           /* 0x00005e0004087a10 */
                                                                                   /* 0x000fc60007f1e0ff */
        /*00d0*/                   IMAD.WIDE R2, R4, R5, c[0x0][0x160] ;           /* 0x0000580004027625 */
                                                                                   /* 0x000fe200078e0205 */
        /*00e0*/                   IADD3.X R9, R0, c[0x0][0x17c], RZ, P0, !PT ;    /* 0x00005f0000097a10 */
                                                                                   /* 0x000fe400007fe4ff */
        /*00f0*/                   I2FP.F32.U32 R11, R6 ;                          /* 0x00000006000b7245 */
                                                                                   /* 0x004fca0000201000 */
        /*0100*/                   STG.E [R2.64], R11 ;                            /* 0x0000000b02007986 */
                                                                                   /* 0x000fe8000c101904 */
        /*0110*/                   LDG.E.S8 R8, [R8.64] ;                          /* 0x0000000408087981 */
                                                                                   /* 0x000ea2000c1e1300 */
        /*0120*/                   IMAD.WIDE R4, R4, R5, c[0x0][0x168] ;           /* 0x00005a0004047625 */
                                                                                   /* 0x000fe200078e0205 */
        /*0130*/                   I2F.S16 R13, R8 ;                               /* 0x00000008000d7306 */
                                                                                   /* 0x004e280000101400 */
        /*0140*/                   STG.E [R4.64], R13 ;                            /* 0x0000000d04007986 */
                                                                                   /* 0x001fe2000c101904 */
        /*0150*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0160*/                   BRA 0x160;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_uint16x4_load
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;         /* 0x00000a00ff017624 */
                                                                                   /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_TID.X ;                              /* 0x0000000000047919 */
                                                                                   /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                            /* 0x0000000000037919 */
                                                                                   /* 0x000e240000002500 */
        /*0030*/                   IMAD R4, R3, c[0x0][0x0], R4 ;                  /* 0x0000000003047a24 */
                                                                                   /* 0x001fca00078e0204 */
        /*0040*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x170], PT ;    /* 0x00005c0004007a0c */
                                                                                   /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                          /* 0x000000000000094d */
                                                                                   /* 0x000fea0003800000 */
        /*0060*/                   IMAD.MOV.U32 R3, RZ, RZ, 0x8 ;                  /* 0x00000008ff037424 */
                                                                                   /* 0x000fe200078e00ff */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fc60000000a00 */
        /*0080*/                   IMAD.WIDE R2, R4, R3, c[0x0][0x168] ;           /* 0x00005a0004027625 */
                                                                                   /* 0x000fcc00078e0203 */
        /*0090*/                   LDG.E.64 R2, [R2.64] ;                          /* 0x0000000402027981 */
                                                                                   /* 0x000ea2000c1e1b00 */
        /*00a0*/                   MOV R9, 0x4 ;                                   /* 0x0000000400097802 */
                                                                                   /* 0x000fe40000000f00 */
        /*00b0*/                   PRMT R5, R2.reuse, 0x7732, RZ ;                 /* 0x0000773202057816 */
                                                                                   /* 0x044fe400000000ff */
        /*00c0*/                   LOP3.LUT R0, R2, 0xffff, RZ, 0xc0, !PT ;        /* 0x0000ffff02007812 */
                                                                                   /* 0x000fe400078ec0ff */
        /*00d0*/                   LOP3.LUT R6, R3.reuse, 0xffff, RZ, 0xc0, !PT ;  /* 0x0000ffff03067812 */
                                                                                   /* 0x040fe400078ec0ff */
        /*00e0*/                   PRMT R7, R3, 0x7732, RZ ;                       /* 0x0000773203077816 */
                                                                                   /* 0x000fe400000000ff */
        /*00f0*/                   IADD3 R0, R6, R0, R5 ;                          /* 0x0000000006007210 */
                                                                                   /* 0x000fe20007ffe005 */
        /*0100*/                   IMAD.WIDE R4, R4, R9, c[0x0][0x160] ;           /* 0x0000580004047625 */
                                                                                   /* 0x000fc800078e0209 */
        /*0110*/                   IMAD.IADD R7, R0, 0x1, R7 ;                     /* 0x0000000100077824 */
                                                                                   /* 0x000fca00078e0207 */
        /*0120*/                   STG.E [R4.64], R7 ;                             /* 0x0000000704007986 */
                                                                                   /* 0x000fe2000c101904 */
        /*0130*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0140*/                   BRA 0x140;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_uint8x4_load
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;         /* 0x00000a00ff017624 */
                                                                                   /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_TID.X ;                              /* 0x0000000000047919 */
                                                                                   /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                            /* 0x0000000000037919 */
                                                                                   /* 0x000e240000002500 */
        /*0030*/                   IMAD R4, R3, c[0x0][0x0], R4 ;                  /* 0x0000000003047a24 */
                                                                                   /* 0x001fca00078e0204 */
        /*0040*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x170], PT ;    /* 0x00005c0004007a0c */
                                                                                   /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                          /* 0x000000000000094d */
                                                                                   /* 0x000fea0003800000 */
        /*0060*/                   IMAD.MOV.U32 R9, RZ, RZ, 0x4 ;                  /* 0x00000004ff097424 */
                                                                                   /* 0x000fe200078e00ff */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fc60000000a00 */
        /*0080*/                   IMAD.WIDE R2, R4, R9, c[0x0][0x168] ;           /* 0x00005a0004027625 */
                                                                                   /* 0x000fcc00078e0209 */
        /*0090*/                   LDG.E R2, [R2.64] ;                             /* 0x0000000402027981 */
                                                                                   /* 0x000ea4000c1e1900 */
        /*00a0*/                   PRMT R0, R2.reuse, 0x7770, RZ ;                 /* 0x0000777002007816 */
                                                                                   /* 0x044fe400000000ff */
        /*00b0*/                   PRMT R5, R2.reuse, 0x7771, RZ ;                 /* 0x0000777102057816 */
                                                                                   /* 0x040fe400000000ff */
        /*00c0*/                   PRMT R6, R2.reuse, 0x7772, RZ ;                 /* 0x0000777202067816 */
                                                                                   /* 0x040fe400000000ff */
        /*00d0*/                   PRMT R7, R2, 0x7773, RZ ;                       /* 0x0000777302077816 */
                                                                                   /* 0x000fe400000000ff */
        /*00e0*/                   IADD3 R0, R6, R0, R5 ;                          /* 0x0000000006007210 */
                                                                                   /* 0x000fe20007ffe005 */
        /*00f0*/                   IMAD.WIDE R4, R4, R9, c[0x0][0x160] ;           /* 0x0000580004047625 */
                                                                                   /* 0x000fc800078e0209 */
        /*0100*/                   IMAD.IADD R7, R7, 0x1, R0 ;                     /* 0x0000000107077824 */
                                                                                   /* 0x000fca00078e0200 */
        /*0110*/                   STG.E [R4.64], R7 ;                             /* 0x0000000704007986 */
                                                                                   /* 0x000fe2000c101904 */
        /*0120*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0130*/                   BRA 0x130;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0140*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_int16_load_store
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                          /* 0x00000a0000017a02 */
                                                                                   /* 0x000fe40000000f00 */
        /*0010*/                   S2R R4, SR_TID.X ;                              /* 0x0000000000047919 */
                                                                                   /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                            /* 0x0000000000037919 */
                                                                                   /* 0x000e240000002500 */
        /*0030*/                   IMAD R4, R3, c[0x0][0x0], R4 ;                  /* 0x0000000003047a24 */
                                                                                   /* 0x001fca00078e0204 */
        /*0040*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x170], PT ;    /* 0x00005c0004007a0c */
                                                                                   /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                          /* 0x000000000000094d */
                                                                                   /* 0x000fea0003800000 */
        /*0060*/                   MOV R5, 0x2 ;                                   /* 0x0000000200057802 */
                                                                                   /* 0x000fe20000000f00 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fc80000000a00 */
        /*0080*/                   IMAD.WIDE R2, R4, R5, c[0x0][0x168] ;           /* 0x00005a0004027625 */
                                                                                   /* 0x000fcc00078e0205 */
        /*0090*/                   LDG.E.U16 R2, [R2.64] ;                         /* 0x0000000402027981 */
                                                                                   /* 0x000ea2000c1e1500 */
        /*00a0*/                   IMAD.WIDE R4, R4, R5, c[0x0][0x160] ;           /* 0x0000580004047625 */
                                                                                   /* 0x000fe200078e0205 */
        /*00b0*/                   IADD3 R7, R2, 0x1, RZ ;                         /* 0x0000000102077810 */
                                                                                   /* 0x004fca0007ffe0ff */
        /*00c0*/                   STG.E.U16 [R4.64], R7 ;                         /* 0x0000000704007986 */
                                                                                   /* 0x000fe2000c101504 */
        /*00d0*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*00e0*/                   BRA 0xe0;                                       /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*00f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0100*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_uint16_load_store
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                          /* 0x00000a0000017a02 */
                                                                                   /* 0x000fe40000000f00 */
        /*0010*/                   S2R R4, SR_TID.X ;                              /* 0x0000000000047919 */
                                                                                   /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                            /* 0x0000000000037919 */
                                                                                   /* 0x000e240000002500 */
        /*0030*/                   IMAD R4, R3, c[0x0][0x0], R4 ;                  /* 0x0000000003047a24 */
                                                                                   /* 0x001fca00078e0204 */
        /*0040*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x170], PT ;    /* 0x00005c0004007a0c */
                                                                                   /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                          /* 0x000000000000094d */
                                                                                   /* 0x000fea0003800000 */
        /*0060*/                   MOV R5, 0x2 ;                                   /* 0x0000000200057802 */
                                                                                   /* 0x000fe20000000f00 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fc80000000a00 */
        /*0080*/                   IMAD.WIDE R2, R4, R5, c[0x0][0x168] ;           /* 0x00005a0004027625 */
                                                                                   /* 0x000fcc00078e0205 */
        /*0090*/                   LDG.E.U16 R2, [R2.64] ;                         /* 0x0000000402027981 */
                                                                                   /* 0x000ea2000c1e1500 */
        /*00a0*/                   IMAD.WIDE R4, R4, R5, c[0x0][0x160] ;           /* 0x0000580004047625 */
                                                                                   /* 0x000fe200078e0205 */
        /*00b0*/                   IADD3 R7, R2, 0x1, RZ ;                         /* 0x0000000102077810 */
                                                                                   /* 0x004fca0007ffe0ff */
        /*00c0*/                   STG.E.U16 [R4.64], R7 ;                         /* 0x0000000704007986 */
                                                                                   /* 0x000fe2000c101504 */
        /*00d0*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*00e0*/                   BRA 0xe0;                                       /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*00f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0100*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_int8_load_store
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;         /* 0x00000a00ff017624 */
                                                                                   /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_TID.X ;                              /* 0x0000000000047919 */
                                                                                   /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                            /* 0x0000000000037919 */
                                                                                   /* 0x000e240000002500 */
        /*0030*/                   IMAD R4, R3, c[0x0][0x0], R4 ;                  /* 0x0000000003047a24 */
                                                                                   /* 0x001fca00078e0204 */
        /*0040*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x170], PT ;    /* 0x00005c0004007a0c */
                                                                                   /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                          /* 0x000000000000094d */
                                                                                   /* 0x000fea0003800000 */
        /*0060*/                   SHF.R.S32.HI R0, RZ, 0x1f, R4 ;                 /* 0x0000001fff007819 */
                                                                                   /* 0x000fe20000011404 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fe20000000a00 */
        /*0080*/                   IADD3 R2, P0, R4, c[0x0][0x168], RZ ;           /* 0x00005a0004027a10 */
                                                                                   /* 0x000fc80007f1e0ff */
        /*0090*/                   IADD3.X R3, R0, c[0x0][0x16c], RZ, P0, !PT ;    /* 0x00005b0000037a10 */
                                                                                   /* 0x000fca00007fe4ff */
        /*00a0*/                   LDG.E.U8 R2, [R2.64] ;                          /* 0x0000000402027981 */
                                                                                   /* 0x000ea2000c1e1100 */
        /*00b0*/                   IADD3 R4, P0, R4, c[0x0][0x160], RZ ;           /* 0x0000580004047a10 */
                                                                                   /* 0x000fc80007f1e0ff */
        /*00c0*/                   IADD3.X R5, R0, c[0x0][0x164], RZ, P0, !PT ;    /* 0x0000590000057a10 */
                                                                                   /* 0x000fe400007fe4ff */
        /*00d0*/                   IADD3 R7, R2, 0x1, RZ ;                         /* 0x0000000102077810 */
                                                                                   /* 0x004fca0007ffe0ff */
        /*00e0*/                   STG.E.U8 [R4.64], R7 ;                          /* 0x0000000704007986 */
                                                                                   /* 0x000fe2000c101104 */
        /*00f0*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0100*/                   BRA 0x100;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0110*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


		Function : probe_uint8_load_store
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;         /* 0x00000a00ff017624 */
                                                                                   /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_TID.X ;                              /* 0x0000000000047919 */
                                                                                   /* 0x000e280000002100 */
        /*0020*/                   S2R R3, SR_CTAID.X ;                            /* 0x0000000000037919 */
                                                                                   /* 0x000e240000002500 */
        /*0030*/                   IMAD R4, R3, c[0x0][0x0], R4 ;                  /* 0x0000000003047a24 */
                                                                                   /* 0x001fca00078e0204 */
        /*0040*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x170], PT ;    /* 0x00005c0004007a0c */
                                                                                   /* 0x000fda0003f06270 */
        /*0050*/               @P0 EXIT ;                                          /* 0x000000000000094d */
                                                                                   /* 0x000fea0003800000 */
        /*0060*/                   SHF.R.S32.HI R0, RZ, 0x1f, R4 ;                 /* 0x0000001fff007819 */
                                                                                   /* 0x000fe20000011404 */
        /*0070*/                   ULDC.64 UR4, c[0x0][0x118] ;                    /* 0x0000460000047ab9 */
                                                                                   /* 0x000fe20000000a00 */
        /*0080*/                   IADD3 R2, P0, R4, c[0x0][0x168], RZ ;           /* 0x00005a0004027a10 */
                                                                                   /* 0x000fc80007f1e0ff */
        /*0090*/                   IADD3.X R3, R0, c[0x0][0x16c], RZ, P0, !PT ;    /* 0x00005b0000037a10 */
                                                                                   /* 0x000fca00007fe4ff */
        /*00a0*/                   LDG.E.U8 R2, [R2.64] ;                          /* 0x0000000402027981 */
                                                                                   /* 0x000ea2000c1e1100 */
        /*00b0*/                   IADD3 R4, P0, R4, c[0x0][0x160], RZ ;           /* 0x0000580004047a10 */
                                                                                   /* 0x000fc80007f1e0ff */
        /*00c0*/                   IADD3.X R5, R0, c[0x0][0x164], RZ, P0, !PT ;    /* 0x0000590000057a10 */
                                                                                   /* 0x000fe400007fe4ff */
        /*00d0*/                   IADD3 R7, R2, 0x1, RZ ;                         /* 0x0000000102077810 */
                                                                                   /* 0x004fca0007ffe0ff */
        /*00e0*/                   STG.E.U8 [R4.64], R7 ;                          /* 0x0000000704007986 */
                                                                                   /* 0x000fe2000c101104 */
        /*00f0*/                   EXIT ;                                          /* 0x000000000000794d */
                                                                                   /* 0x000fea0003800000 */
        /*0100*/                   BRA 0x100;                                      /* 0xfffffff000007947 */
                                                                                   /* 0x000fc0000383ffff */
        /*0110*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                            /* 0x0000000000007918 */
                                                                                   /* 0x000fc00000000000 */
		..........


