
	code for sm_89
	.target	sm_89

		Function : probe_bmsk
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R0, SR_TID.X ;                                 /* 0x0000000000007919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R3, 0xffffffff ;                               /* 0xffffffff00037802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   IMAD.MOV.U32 R5, RZ, RZ, 0x4 ;                     /* 0x00000004ff057424 */
                                                                                      /* 0x000fe200078e00ff */
        /*0040*/                   MOV R7, 0x1 ;                                      /* 0x0000000100077802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0050*/                   IMAD.MOV.U32 R9, RZ, RZ, 0xf ;                     /* 0x0000000fff097424 */
                                                                                      /* 0x000fe200078e00ff */
        /*0060*/                   MOV R11, 0xff ;                                    /* 0x000000ff000b7802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0070*/                   IMAD.MOV.U32 R13, RZ, RZ, 0xffff ;                 /* 0x0000ffffff0d7424 */
                                                                                      /* 0x000fe200078e00ff */
        /*0080*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fe20000000a00 */
        /*0090*/                   IMAD R2, R0, 0x5, RZ ;                             /* 0x0000000500027824 */
                                                                                      /* 0x001fe200078e02ff */
        /*00a0*/                   SHF.L.W.U32 R0, R3, R0, RZ ;                       /* 0x0000000003007219 */
                                                                                      /* 0x000fc60000000eff */
        /*00b0*/                   IMAD.WIDE R2, R2, R5, c[0x0][0x160] ;              /* 0x0000580002027625 */
                                                                                      /* 0x000fe200078e0205 */
        /*00c0*/                   LOP3.LUT R5, RZ, R0, RZ, 0x33, !PT ;               /* 0x00000000ff057212 */
                                                                                      /* 0x000fc800078e33ff */
        /*00d0*/                   STG.E [R2.64], R7 ;                                /* 0x0000000702007986 */
                                                                                      /* 0x000fe8000c101904 */
        /*00e0*/                   STG.E [R2.64+0x4], R9 ;                            /* 0x0000040902007986 */
                                                                                      /* 0x000fe8000c101904 */
        /*00f0*/                   STG.E [R2.64+0x8], R11 ;                           /* 0x0000080b02007986 */
                                                                                      /* 0x000fe8000c101904 */
        /*0100*/                   STG.E [R2.64+0xc], R13 ;                           /* 0x00000c0d02007986 */
                                                                                      /* 0x000fe8000c101904 */
        /*0110*/                   STG.E [R2.64+0x10], R5 ;                           /* 0x0000100502007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*0120*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*0130*/                   BRA 0x130;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_bfe_unpack
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R8, SR_TID.X ;                                 /* 0x0000000000087919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R9, 0x4 ;                                      /* 0x0000000400097802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R8, R9, c[0x0][0x178] ;              /* 0x00005e0008027625 */
                                                                                      /* 0x001fcc00078e0209 */
        /*0050*/                   LDG.E R2, [R2.64] ;                                /* 0x0000000402027981 */
                                                                                      /* 0x000ea2000c1e1900 */
        /*0060*/                   IMAD.WIDE R4, R8, R9, c[0x0][0x160] ;              /* 0x0000580008047625 */
                                                                                      /* 0x000fc800078e0209 */
        /*0070*/                   IMAD.WIDE R6, R8, R9, c[0x0][0x168] ;              /* 0x00005a0008067625 */
                                                                                      /* 0x000fc800078e0209 */
        /*0080*/                   IMAD.WIDE R8, R8, R9, c[0x0][0x170] ;              /* 0x00005c0008087625 */
                                                                                      /* 0x000fe200078e0209 */
        /*0090*/                   PRMT R11, R2.reuse, 0x7770, RZ ;                   /* 0x00007770020b7816 */
                                                                                      /* 0x044fe400000000ff */
        /*00a0*/                   PRMT R13, R2.reuse, 0x7771, RZ ;                   /* 0x00007771020d7816 */
                                                                                      /* 0x040fe400000000ff */
        /*00b0*/                   PRMT R15, R2, 0x7732, RZ ;                         /* 0x00007732020f7816 */
                                                                                      /* 0x000fe200000000ff */
        /*00c0*/                   STG.E [R4.64], R11 ;                               /* 0x0000000b04007986 */
                                                                                      /* 0x000fe8000c101904 */
        /*00d0*/                   STG.E [R6.64], R13 ;                               /* 0x0000000d06007986 */
                                                                                      /* 0x000fe8000c101904 */
        /*00e0*/                   STG.E [R8.64], R15 ;                               /* 0x0000000f08007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*00f0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*0100*/                   BRA 0x100;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0110*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_bfi_pack
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R8, SR_TID.X ;                                 /* 0x0000000000087919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R9, 0x4 ;                                      /* 0x0000000400097802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R8, R9, c[0x0][0x168] ;              /* 0x00005a0008027625 */
                                                                                      /* 0x001fc800078e0209 */
        /*0050*/                   IMAD.WIDE R4, R8.reuse, R9.reuse, c[0x0][0x170] ;  /* 0x00005c0008047625 */
                                                                                      /* 0x0c0fe400078e0209 */
        /*0060*/                   LDG.E.U8 R2, [R2.64] ;                             /* 0x0000000402027981 */
                                                                                      /* 0x000ea4000c1e1100 */
        /*0070*/                   IMAD.WIDE R6, R8.reuse, R9.reuse, c[0x0][0x178] ;  /* 0x00005e0008067625 */
                                                                                      /* 0x0c0fe400078e0209 */
        /*0080*/                   LDG.E.U8 R5, [R4.64] ;                             /* 0x0000000404057981 */
                                                                                      /* 0x000ea8000c1e1100 */
        /*0090*/                   LDG.E.U16 R6, [R6.64] ;                            /* 0x0000000406067981 */
                                                                                      /* 0x000ee2000c1e1500 */
        /*00a0*/                   IMAD.WIDE R8, R8, R9, c[0x0][0x160] ;              /* 0x0000580008087625 */
                                                                                      /* 0x000fe200078e0209 */
        /*00b0*/                   PRMT R11, R5, 0x7604, R2 ;                         /* 0x00007604050b7816 */
                                                                                      /* 0x004fc80000000002 */
        /*00c0*/                   PRMT R11, R11, 0x5410, R6 ;                        /* 0x000054100b0b7816 */
                                                                                      /* 0x008fca0000000006 */
        /*00d0*/                   STG.E [R8.64], R11 ;                               /* 0x0000000b08007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*00e0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                          /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0100*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_flo
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R4, SR_TID.X ;                                 /* 0x0000000000047919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R5, 0x4 ;                                      /* 0x0000000400057802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R4, R5, c[0x0][0x168] ;              /* 0x00005a0004027625 */
                                                                                      /* 0x001fcc00078e0205 */
        /*0050*/                   LDG.E R2, [R2.64] ;                                /* 0x0000000402027981 */
                                                                                      /* 0x000ea2000c1e1900 */
        /*0060*/                   IMAD.WIDE R4, R4, R5, c[0x0][0x160] ;              /* 0x0000580004047625 */
                                                                                      /* 0x000fe200078e0205 */
        /*0070*/                   BREV R6, R2 ;                                      /* 0x0000000200067301 */
                                                                                      /* 0x004e300000000000 */
        /*0080*/                   FLO.U32 R0, R2 ;                                   /* 0x0000000200007300 */
                                                                                      /* 0x000e7000000e0000 */
        /*0090*/                   FLO.U32.SH R6, R6 ;                                /* 0x0000000600067300 */
                                                                                      /* 0x001e2200000e0400 */
        /*00a0*/                   IADD3 R7, -R0, 0x1f, RZ ;                          /* 0x0000001f00077810 */
                                                                                      /* 0x002fca0007ffe1ff */
        /*00b0*/                   STG.E [R4.64], R7 ;                                /* 0x0000000704007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*00c0*/                   IADD3 R9, R6, 0x1, RZ ;                            /* 0x0000000106097810 */
                                                                                      /* 0x001fca0007ffe0ff */
        /*00d0*/                   STG.E [R4.64+0x80], R9 ;                           /* 0x0000800904007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*00e0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                          /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0100*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_popc_chain
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;            /* 0x00000a00ff017624 */
                                                                                      /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_TID.X ;                                 /* 0x0000000000047919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R3, RZ, RZ, 0x4 ;                     /* 0x00000004ff037424 */
                                                                                      /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc60000000a00 */
        /*0040*/                   IMAD.WIDE R2, R4, R3, c[0x0][0x168] ;              /* 0x00005a0004027625 */
                                                                                      /* 0x001fcc00078e0203 */
        /*0050*/                   LDG.E R2, [R2.64] ;                                /* 0x0000000402027981 */
                                                                                      /* 0x000162000c1e1900 */
        /*0060*/                   IMAD.MOV.U32 R0, RZ, RZ, RZ ;                      /* 0x000000ffff007224 */
                                                                                      /* 0x000fe200078e00ff */
        /*0070*/                   SHF.R.S32.HI R5, RZ, 0x1f, R4 ;                    /* 0x0000001fff057819 */
                                                                                      /* 0x000fc80000011404 */
        /*0080*/                   IADD3 R0, R0, 0x1, RZ ;                            /* 0x0000000100007810 */
                                                                                      /* 0x000fe20007ffe0ff */
        /*0090*/                   POPC R7, R2 ;                                      /* 0x0000000200077309 */
                                                                                      /* 0x020e660000000000 */
        /*00a0*/                   ISETP.NE.AND P0, PT, R0, 0x200, PT ;               /* 0x000002000000780c */
                                                                                      /* 0x000fe40003f05270 */
        /*00b0*/                   LOP3.LUT R2, R7, R2, RZ, 0x3c, !PT ;               /* 0x0000000207027212 */
                                                                                      /* 0x002fd600078e3cff */
        /*00c0*/               @P0 BRA 0x80 ;                                         /* 0xffffffb000000947 */
                                                                                      /* 0x000fea000383ffff */
        /*00d0*/                   LEA R2, P0, R4, c[0x0][0x160], 0x2 ;               /* 0x0000580004027a11 */
                                                                                      /* 0x000fc800078010ff */
        /*00e0*/                   LEA.HI.X R3, R4, c[0x0][0x164], R5, 0x2, P0 ;      /* 0x0000590004037a11 */
                                                                                      /* 0x001fca00000f1405 */
        /*00f0*/                   STG.E [R2.64], R7 ;                                /* 0x0000000702007986 */
                                                                                      /* 0x000fe2000c101904 */
        /*0100*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*0110*/                   BRA 0x110;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_brev_chain
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;            /* 0x00000a00ff017624 */
                                                                                      /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_TID.X ;                                 /* 0x0000000000007919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   IMAD.MOV.U32 R3, RZ, RZ, 0x4 ;                     /* 0x00000004ff037424 */
                                                                                      /* 0x000fe200078e00ff */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc60000000a00 */
        /*0040*/                   IMAD.WIDE R2, R0, R3, c[0x0][0x168] ;              /* 0x00005a0000027625 */
                                                                                      /* 0x001fca00078e0203 */
        /*0050*/                   LDG.E R9, [R2.64] ;                                /* 0x0000000402097981 */
                                                                                      /* 0x000162000c1e1900 */
        /*0060*/                   SHF.R.S32.HI R7, RZ, 0x1f, R0 ;                    /* 0x0000001fff077819 */
                                                                                      /* 0x000fc60000011400 */
        /*0070*/                   CS2R R2, SR_CLOCKLO ;                              /* 0x0000000000027805 */
                                                                                      /* 0x001fc80000015000 */
        /*0080*/                   IMAD.MOV.U32 R4, RZ, RZ, RZ ;                      /* 0x000000ffff047224 */
                                                                                      /* 0x000fca00078e00ff */
        /*0090*/                   IADD3 R4, R4, 0x1, RZ ;                            /* 0x0000000104047810 */
                                                                                      /* 0x000fe20007ffe0ff */
        /*00a0*/                   BREV R9, R9 ;                                      /* 0x0000000900097301 */
                                                                                      /* 0x020e260000000000 */
        /*00b0*/                   ISETP.NE.AND P0, PT, R4, 0x200, PT ;               /* 0x000002000400780c */
                                                                                      /* 0x000fda0003f05270 */
        /*00c0*/               @P0 BRA 0x90 ;                                         /* 0xffffffc000000947 */
                                                                                      /* 0x001fea000383ffff */
        /*00d0*/                   CS2R R4, SR_CLOCKLO ;                              /* 0x0000000000047805 */
                                                                                      /* 0x000fe40000015000 */
        /*00e0*/                   ISETP.NE.AND P0, PT, R0.reuse, RZ, PT ;            /* 0x000000ff0000720c */
                                                                                      /* 0x040fe40003f05270 */
        /*00f0*/                   LEA R6, P1, R0, c[0x0][0x160], 0x2 ;               /* 0x0000580000067a11 */
                                                                                      /* 0x000fc800078210ff */
        /*0100*/                   LEA.HI.X R7, R0, c[0x0][0x164], R7, 0x2, P1 ;      /* 0x0000590000077a11 */
                                                                                      /* 0x000fca00008f1407 */
        /*0110*/                   STG.E [R6.64], R9 ;                                /* 0x0000000906007986 */
                                                                                      /* 0x0001e4000c101904 */
        /*0120*/               @P0 EXIT ;                                             /* 0x000000000000094d */
                                                                                      /* 0x000fea0003800000 */
        /*0130*/                   IADD3 R2, P0, -R2, R4, RZ ;                        /* 0x0000000402027210 */
                                                                                      /* 0x000fe20007f1e1ff */
        /*0140*/                   IMAD.MOV.U32 R6, RZ, RZ, c[0x0][0x160] ;           /* 0x00005800ff067624 */
                                                                                      /* 0x001fe200078e00ff */
        /*0150*/                   MOV R7, c[0x0][0x164] ;                            /* 0x0000590000077a02 */
                                                                                      /* 0x000fe20000000f00 */
        /*0160*/                   IMAD.MOV.U32 R8, RZ, RZ, 0x200 ;                   /* 0x00000200ff087424 */
                                                                                      /* 0x000fe200078e00ff */
        /*0170*/                   IADD3.X R3, ~R3, R5, RZ, P0, !PT ;                 /* 0x0000000503037210 */
                                                                                      /* 0x000fe200007fe5ff */
        /*0180*/                   IMAD.MOV.U32 R9, RZ, RZ, 0x0 ;                     /* 0x00000000ff097424 */
                                                                                      /* 0x000fc800078e00ff */
        /*0190*/                   STG.E.64 [R6.64+0x80], R2 ;                        /* 0x0000800206007986 */
                                                                                      /* 0x000fe8000c101b04 */
        /*01a0*/                   STG.E.64 [R6.64+0x88], R8 ;                        /* 0x0000880806007986 */
                                                                                      /* 0x000fe2000c101b04 */
        /*01b0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*01c0*/                   BRA 0x1c0;                                         /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*01d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


		Function : probe_brev
	.headerflags	@"EF_CUDA_SM89 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM89)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                             /* 0x00000a0000017a02 */
                                                                                      /* 0x000fe40000000f00 */
        /*0010*/                   S2R R4, SR_TID.X ;                                 /* 0x0000000000047919 */
                                                                                      /* 0x000e220000002100 */
        /*0020*/                   MOV R5, 0x4 ;                                      /* 0x0000000400057802 */
                                                                                      /* 0x000fe20000000f00 */
        /*0030*/                   ULDC.64 UR4, c[0x0][0x118] ;                       /* 0x0000460000047ab9 */
                                                                                      /* 0x000fc80000000a00 */
        /*0040*/                   IMAD.WIDE R2, R4, R5, c[0x0][0x168] ;              /* 0x00005a0004027625 */
                                                                                      /* 0x001fcc00078e0205 */
        /*0050*/                   LDG.E R3, [R2.64] ;                                /* 0x0000000402037981 */
                                                                                      /* 0x000ea2000c1e1900 */
        /*0060*/                   IMAD.WIDE R4, R4, R5, c[0x0][0x160] ;              /* 0x0000580004047625 */
                                                                                      /* 0x000fe200078e0205 */
        /*0070*/                   BREV R7, R3 ;                                      /* 0x0000000300077301 */
                                                                                      /* 0x004e280000000000 */
        /*0080*/                   STG.E [R4.64+0x80], R3 ;                           /* 0x0000800304007986 */
                                                                                      /* 0x000fe8000c101904 */
        /*0090*/                   STG.E [R4.64], R7 ;                                /* 0x0000000704007986 */
                                                                                      /* 0x001fe2000c101904 */
        /*00a0*/                   EXIT ;                                             /* 0x000000000000794d */
                                                                                      /* 0x000fea0003800000 */
        /*00b0*/                   BRA 0xb0;                                          /* 0xfffffff000007947 */
                                                                                      /* 0x000fc0000383ffff */
        /*00c0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0100*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0110*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0120*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                               /* 0x0000000000007918 */
                                                                                      /* 0x000fc00000000000 */
		..........


